[2020-04-11 00:14] SamSchiavone opened #3 "MathOverflow thread on online events"
One more possible place to advertise: https://mathoverflow.net/questions/356119/online-events-during-the-quarantine

[2020-04-11 00:56] SamSchiavone commented on #3
Thanks, Edgar! His post: https://mathoverflow.net/a/357106/

[2020-04-11 00:56] #3 closed

[2020-04-11 12:07] akhmerov opened #4 "Consider adding a license."
Hi! You've made a really nice tool!

I'm involved in https://github.com/virtualscienceforum/virtualscienceforum, and I was wondering whether you consider allowing your code to be reused. Adding a license would help clarify this.

[2020-04-11 16:42] alexjbest opened #5 "Ability to delete a talk"
Curators should be able to delete talks added in error.

[2020-04-11 16:44] alexjbest opened #6 "Hide email addresses from bots"
Currently if an organiser is marked as display their email address is visible and can be scraped by bots. We could try and mask this in a way that doesn't inhibit the user too much (a captcha ..?) see https://stackoverflow.com/questions/41318987/hide-email-address-from-bots-keep-mailto perhaps https://mailhide.io/

[2020-04-11 16:56] poonen opened #7 "Replace "Date" and "Time" headers by "Your time""
E.g., at
https://mathseminars.org/
https://mathseminars.org/search
https://mathseminars.org/edit/schedule/?shortname=STAGE
change the headers  "Date" and "Time" to a single one saying "Your time".

[2020-04-11 16:58] poonen opened #8 "Curator checkbox"
Replace the "Curator" checkbox by an "Organizer" checkbox, checked by default.
If it is checked, it means that the person is an organizer.
If it is not checked, then it means that the person is a curator.

The explanatory text above it should then be updated.  (Bjorn is willing to do this once the functionality above is in place.)

[2020-04-11 17:27] roed314 commented on #4
We will do so today under a standard open source license.  Do you have constraints on what you could use?

[2020-04-11 17:32] #8 closed

[2020-04-11 17:34] akhmerov commented on #4
Nope, anything is good as long as it's not extremely exotic.

[2020-04-11 17:50] AndrewVSutherland opened #10 "Inconsistent times displayed on View Seminar page"
On "View Seminar" pages like https://mathseminars.org/seminar/ComplexGeometry, the time for the seminar is based on the time zone of the seminar (which is not displayed) while the time zone of the talk is based on the viewer's time zone.  This is very confusing (so confusing that I consider it a bug, a person looking at this page has no idea what  time the talks are).

I think the best thing to do

[2020-04-11 17:54] kedlaya opened #11 "Add JSON retrieval"
It would be useful to extract data via an RSS feed, in order to make a front end. More precisely, I'd like to be able to search by:
  - Date range
  - Seminar name or ID (optional)

and get back:
 - Date
 - Time
 - Speaker
 - Title
 - Abstract

[2020-04-11 17:55] AndrewVSutherland opened #12 "24 hour times in the AM should have a leading zero"
Times displayed as 4:00 might easily be misinterpreted to mean 4pm (rather than 4am), especially by viewers in the US.  Displaying 04:00 rather than 4:00 would make this less likely.

[2020-04-11 17:57] AndrewVSutherland commented on #7
Tagging this as critical because it is by the number one source of confusion for new users right now.

[2020-04-11 18:05] AndrewVSutherland commented on #4
We have added a GPL 2.0 license (or later).

[2020-04-11 18:05] #4 closed

[2020-04-11 18:20] AndrewVSutherland opened #13 "Make it easier to include hyperlinks in comments and abstracts"
It would be nice to be able to use "\cite" in comments and abstracts, like you can in LMFDB knowls (see https://www.lmfdb.org/knowledge/show/doc.knowl.guidelines).  So for example one could simply type \cite{arXiv:1234.5678} instead of <a href="https://arxiv.org/abs/1234.5678">arXiv:1234.5678</a>, and \cite also support MR and DOI identifiers.

I also think we should automatically format URLs (str

[2020-04-11 18:25] AndrewVSutherland commented on #7
This has been done on https://mathseminars.org/.  Still working on the other two.

[2020-04-11 18:28] alexjbest opened #14 "When creating a talk fails no flash message displays"
When a user creates a talk in the edit schedule page that fails to create (I've seen this when no speaker or anything is listed) clicking save does nothing, the page refreshes but the talk is not saved, we should flash an error message here.

[2020-04-11 18:28] AndrewVSutherland opened #15 "Edit date/time in "Edit schedule page""
When editing the schedule for a seminar or conference, it would be nice to be able to edit the date/time directly in the schedule rather than having to go edit each talk individually.  This would be especially useful for conferences (see https://mathseminars.org/edit/schedule/?shortname=Wagon) for an example.

[2020-04-11 18:30] roed314 commented on #12
Resolved.

[2020-04-11 18:30] #12 closed

[2020-04-11 18:53] #5 closed

[2020-04-11 19:02] roed314 commented on #10
I've addressed part of this issue: times are now displayed correctly in the user's time zone.

[2020-04-11 19:04] roed314 commented on #10
Switching to enhancement: we should display both the seminar time and the user's time when showing a seminar/talk homepage.

[2020-04-11 19:05] AndrewVSutherland commented on #7
This has also been done for https://mathseminars.org/search, and on view seminar.

On "Edit schedule" pages, times are displayed in the seminar's time zone which is displayed above the table, so I don't think a change is needed here (and it seems natural for the organizer to edit the schedule in the seminar's time zone, no matter where they happen to be).

[2020-04-11 19:05] #7 closed

[2020-04-11 19:17] AndrewVSutherland opened #16 "Add name field to the feedback form"
On the feedback form users should be able to enter their name (in addition to their email address).

[2020-04-11 19:23] poonen opened #17 "Spacing on front page"
On the front page, in the line above the big table, the spacing is confusing.

1) Right now the first slider on my screen is closer to the text "Times in America/New York (now UTC -4)" than to the text "Filter by topic" that it should be associated with.  There needs to be more space to the right of "Times in America/New York (now UTC -4)".

2) Ideally the text "Times in America/New York (now UTC

[2020-04-11 19:24] poonen opened #18 ""Your time" position"
On the front page, it would be better if "Your time" were centered above the dates and times, instead of being over the dates only.

[2020-04-11 20:13] AndrewVSutherland commented on #16
This has already been done.

[2020-04-11 20:13] #16 closed

[2020-04-11 20:14] AndrewVSutherland opened #19 "Add the ability to pull seminar schedule from Google calendar"
From the feedback form:

"Hi, this is a great site you've made. I wanted to make one suggestion which could make it easier for organizers. Right now, we keep track of our seminars through google calendar and have our website programmed to scrap the calendar in order to populate our website. The nice thing about this is that the google calendar interface is very easy to use and you only need to upd

[2020-04-11 22:43] poonen opened #20 "Position of sentence about syncing calendars"
It would make more sense for the sentence
"Some calendar services sync external calendars only every ~24 hours."
to be placed on the line AFTER
"Export calendar to ..."

[2020-04-11 22:49] poonen opened #21 "Talks are present, but seminar is hidden (Nikon Kurnosov)"
Nikon Kurnosov <nikon.kurnosov@gmail.com>
wrote
-----------------------------
Hey Bjorn!

Just a question -- the talks of seminar are present in a list, but seminar
itself is hidden though.

What should I change?

Best
Nikon
-----------------------------

What do I tell him?
--Bjorn

[2020-04-11 22:50] AndrewVSutherland opened #22 "Schedule support for seminars with two talks per day or that meet twice a week"
Many seminars (e.g. and https://mathseminars.org/seminar/WHSymplectic and https://mathseminars.org/seminar/LeipzigNonlinAlg) have multiple talks per day and/or meet twice a week, neither of which are easily handled by the current interface.

One solution would be to make the scheduled time for the seminar a list rather than a singleton, e.g. this seminar has a talk at 1300 each Tuesday, and also a

[2020-04-11 22:55] AndrewVSutherland opened #23 "More search options"
It would be nice to be able to search seminars by organizer/curator and by external URL.  When entering an organizer/curator you should be able to use either a name or an email address (and for names it should search for the words, not require an exact match).

<s>Similarly, it would be nice to be able to search talks by speaker.</s>

[2020-04-11 22:57] AndrewVSutherland commented on #21
@poonen Do you know the seminar he is referring to?  My guess is its an issue with email addresses not matching.

[2020-04-11 23:01] AndrewVSutherland opened #24 "Speaker profile pages"
It would be nice to have speaker profile pages that would list the talks the speaker has given and their home page.  MR, MGP, or ORCID identifiers could be used to uniquely distinguish speakers.  The profile page would list the talks they have given that are indexed on mathseminars.org (including slides or video if these have been added) and the speakers affiliation and home page.

The affiliation

[2020-04-11 23:23] edgarcosta opened #25 "Mobile Usability issues"
From Google:

[2020-04-11 23:25] edgarcosta commented on #23
We already have searching by speaker. Or am I missing something?

[2020-04-11 23:28] edgarcosta commented on #20
Fixed

[2020-04-11 23:28] #20 closed

[2020-04-11 23:33] roed314 commented on #21
I would guess that it's an email issue as well.  Currently the seminar is hidden, as is the first of the three talks.  For now, I will se the seminar and talks to display True manually, but we still need to figure out why this happened.

[2020-04-11 23:36] AndrewVSutherland commented on #23
@edgarcosta Sorry, yes you can search talks by speaker, scratch that.

[2020-04-11 23:59] roed314 commented on #18
Done

[2020-04-11 23:59] #18 closed

[2020-04-12 00:21] edgarcosta opened #26 "Improve creating seminar experience"
@poonen wrote this a while ago.

The main problem I see people encountering at
  https://mathseminars.org/manage/
is that they will want to type in the full name of their seminar
into the Identifier box, despite the instructions.
The easiest way to fix this would be to ask for the seminar name
and the identifier at the same time.
That is, it would be better if the top of the page looked like

----

[2020-04-12 01:26] edgarcosta commented on #21
I have fixed the bug, and added a message to hidden talks and seminars:
- https://mathseminars.org/talk/testseminar/1/ (https://github.com/roed314/seminars/blob/master/seminars/templates/talk.html)
- https://mathseminars.org/seminar/testseminar (https://github.com/roed314/seminars/blob/master/seminars/templates/talk.html)

Feel free to edit the wording.

[2020-04-12 01:28] poonen opened #27 "Pre-endorse users"
My guess is that one thing that is discouraging users from seeking endorsement is that they have to beg for it.  It would be great if we could "pre-endorse" a bunch of distinguished mathematicians so that they could get up and running quickly with no further involvement from us, so that the system would quickly be populated by high-quality seminars.  Also this would reduce the burden on the small

[2020-04-12 01:36] edgarcosta commented on #19
This is a good suggestion I already wrote some code for that (https://github.com/edgarcosta/beantheory/blob/master/beantheory/seminars/ical.py)
But where it gets finicky is the format.
We want to extract 4 text fields:
- Speaker
- Title
- Affiliation
- Abstract

but each google calendar event only has two text fields: Title and Description.

[2020-04-12 01:53] #21 closed

[2020-04-12 03:51] poonen opened #28 "FAQ question about time zones"
I added an FAQ question about time zones.  Before or after this is pushed to the live site, someone should check that what I wrote there is actually accurate.

[2020-04-12 03:55] poonen opened #29 "Time zones on the "Edit schedule" page"
If a talk's time zone differs from its seminar's time zone, then the talk is listed on the seminar's "Edit schedule" page in the talk's time zone, contrary to what the page claims it is displaying.
For an example, see
https://mathseminars.org/edit/schedule/?shortname=testseminar

[2020-04-12 04:00] poonen opened #30 "Searching talk abstracts by keyword"
The "Info" page claims that one can search talk abstracts by keyword, but this is not working.  For example, I searched for "variance" and got nothing, despite the word appearing in the abstract of
https://mathseminars.org/talk/agstanford/5/

[2020-04-12 04:03] poonen opened #31 "Searching seminars by keyword"
If I search for seminars with the keyword "geometry" I get no hits, despite there being several seminars with "geometry" in the title.  Perhaps this is as intended, but I think it would be more intuitive if such a search did also search for the keyword in seminar titles.

[2020-04-12 04:15] edgarcosta commented on #28
I edited the wording. Let me know if you agree. Not yet live.

[2020-04-12 04:28] edgarcosta commented on #28
It's now live.

[2020-04-12 04:29] edgarcosta commented on #17
I think I have addressed this one.

[2020-04-12 09:16] roed314 commented on #29
See #32

[2020-04-12 09:17] roed314 commented on #22
See #32

[2020-04-12 09:17] roed314 commented on #15
See #32

[2020-04-12 09:33] roed314 opened #33 "Special kinds of talks"
One distinguished kind of talk that's fairly common is a PhD defense.  If there are enough special kinds of talks we might want to figure out how to distinguish them in lists and/or search for them.

[2020-04-12 09:38] AndrewVSutherland commented on #33
There are also events like lecture series (e.g. three or four lectures over a series of a few days by a distinguished speaker) that are not really seminars or conferences.

[2020-04-12 09:47] AndrewVSutherland opened #34 "Endorsement email match should probably be case insensitive"
Currently it appears that endorsements are doing a case-sensitive check on e-mail addresses, which has caused problems for at leas one user.  The domain in name@domain is explicitly not case sensitive (but our check is treating it as such), so this is a bug.  Technically the name in name@domain is case sensitive, but almost all e-mail systems treat them as case insensitive and will not let you cre

[2020-04-12 09:57] AndrewVSutherland commented on #31
I think the problem is that the seminar search only searches the description and comments, not the title.  This is also a problem with the talk search (if you type "Voronoi" in the keywords you will get no hits but if you put it in the title you will).  I think the keyword search should check every field that might conceivably contain a mathematical term.

[2020-04-12 10:02] AndrewVSutherland commented on #28
Looks good to me; closing.

[2020-04-12 10:02] #28 closed

[2020-04-12 10:08] AndrewVSutherland opened #35 ""impersonate" option for admins"
To help diagnose problems reported on the feedback page, it would be very useful for admins to be able to temporarily use the system as if they were another user (i.e. do the equivalent of sudo -iu).

I'm tagging this as critical because I think supporting our early users is really important and I'm having trouble doing that as effectively as I could.

[2020-04-12 11:45] AndrewVSutherland commented on #35
I resolved the immediate problem and removed the critical tag, but it would still be really useful to have this.

[2020-04-12 11:48] AndrewVSutherland opened #36 "Server error saving changes to talk"
Attempting to add speaker home page while editing talk leads to the following server error:

The page you are looking for has produced a server error.
To help us improve the website, please report this page's URL "http://mathseminars.org/save/talk/" as well as the URL of the page you are coming from "https://mathseminars.org/edit/talk/?seminar_id=TaoCollatz&seminar_ctr=0".

[2020-04-12 11:50] AndrewVSutherland commented on #36
Another example of the same problem:

The page you are looking for has produced a server error.
To help us improve the website, please report this page's URL "http://mathseminars.org/save/talk/" as well as the URL of the page you are coming from "https://mathseminars.org/edit/talk/?seminar_id=IASAnalysis&seminar_ctr=0".
jump back

[2020-04-12 11:58] AndrewVSutherland commented on #17
Looks good.

[2020-04-12 11:58] #17 closed

[2020-04-12 12:00] AndrewVSutherland commented on #36
I think this bug only affects the talks that were uploaded from Jaume's spreadsheet.

[2020-04-12 12:12] AndrewVSutherland opened #37 "Add language property to seminars and talks"
It would nice for users to know which language talks are being given in.  There should be a language property for each seminar (default to english) that is used as the default for each talk in the seminar with the ability to change the language for specific talks.  You should be able to search talks and seminars by language.

We already have talks in Russian, French, and Catalan listed on the site

[2020-04-12 15:10] AndrewVSutherland commented on #23
You should also be able to search using the seminar id (typing a seminar id into the keywords when  searching either talks or seminars should work, and you should also be able to type a seminar id into the seminar name input).

[2020-04-12 15:51] AndrewVSutherland opened #38 "Unable to create seminars"
I am currently getting a server error if I try to create a seminar,. the flask log shows four occurrences of
the error

"ValueError: Need to update seminar code to account for schema change"

to reproduce go to https://mathseminars.org/manage/ and enter any seminar id that does not already exist.

[2020-04-12 15:53] AndrewVSutherland commented on #38
@edgarcosta @roed314 Will PR #32 this, or is it something else?

[2020-04-12 16:00] edgarcosta commented on #38
Looking into it

[2020-04-12 16:07] edgarcosta commented on #38
Fixed.

[2020-04-12 16:18] AndrewVSutherland commented on #38
Thanks!

[2020-04-12 16:18] #38 closed

[2020-04-12 16:20] AndrewVSutherland commented on #15
Addressed by #32

[2020-04-12 16:20] #15 closed

[2020-04-12 16:26] edgarcosta commented on #38
I also added a wraper around adding columns and dropping columns, that makes you think twice
[code]

[2020-04-12 16:42] edgarcosta commented on #36
I'm looking intot his one.

On Sun, 12 Apr 2020 at 08:06, Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-12 16:48] edgarcosta commented on #36
Is a data issue, we decided that seminar_ctr was a positive, but when
importing the data we started from 0.

On Sun, 12 Apr 2020 at 12:41, Edgar Costa <edgarc@mit.edu> wrote:

[2020-04-12 16:56] edgarcosta commented on #36
Fixed

[2020-04-12 16:56] #36 closed

[2020-04-12 16:58] edgarcosta commented on #14
I believe this is fixed

[2020-04-12 16:58] edgarcosta commented on #29
I believe this is fixed

[2020-04-12 17:03] edgarcosta commented on #34
Should we force every email to be lower case?

[2020-04-12 17:13] edgarcosta commented on #34
Here is what we need to do:
-  Store emails with case sensitivity
- Send emails with case sensitivity
- Perform internal searches with case insensitivity

[2020-04-12 17:29] alexjbest commented on #25
To add a specific work issue to this. On my phone editing a seminar schedule is unusable as the date boxes are almost completely off the edge of my screen.

[2020-04-12 17:33] #29 closed

[2020-04-12 17:52] AndrewVSutherland opened #39 "Warn about google calendar issues in the FAQ"
Edgar Costa wrote:

We should add a warning and this to the FAQ.

This is a long-standing issue that Google doesn't have a supported API method  to add calendars: https://issuetracker.google.com/issues/36753322
And the current one has bugs like what you noticed and also doesn't support https
https://stackoverflow.com/questions/12563178/link-to-add-ics-to-google-calendar-stopped-working
https://sta

[2020-04-12 17:54] AndrewVSutherland commented on #25
I'm not sure editing is the top priority (do you really want to edit the seminar schedule on your phone)?  I would focus on viewing and searching first.

[2020-04-12 17:55] alexjbest commented on #25
Sure, it was just a more specific instance that I noticed.

[2020-04-12 17:56] rbommel commented on #27
It could be possible to pre-endorse users with e-mail addresses from whitelisted institutions, just like ArXiv does. This seems relatively safe...

[2020-04-12 18:05] rbommel commented on #19
Would it be an idea to let the curator specify his/her own formatting? I imagine they put some formatting, they can hit some test button to see how their calendar would be scraped by the system. If they think the importing works well, they can confirm and the talks will be automatically imported once a day or so.

[2020-04-12 18:06] AndrewVSutherland commented on #27
@rbommel We discussed this but decided it wasn't a great idea.

[2020-04-12 18:09] AndrewVSutherland commented on #27
Here is a proposal to change the way we manage endorsements that would also facilitate pre-endorsing:

When a user creates an account (or if they already have one they can do this on the account page), add a check box they can tick to indicate they are an organizer or curator, and explain that in this case they need to fill in their name/affiliation/webpage for verification.  If their email is alr

[2020-04-12 18:13] edgarcosta commented on #25
That is an issue also in the desktop if you make your window narrow enough.

[2020-04-12 18:14] edgarcosta commented on #34
I have momentarily fixed this for endorsement
https://github.com/roed314/seminars/commit/2a673fe6c2201042e4f1b884ffa3cbe51c9f3221

I still need to implement what I said above, perhaps tonight.

[2020-04-12 18:25] edgarcosta commented on #27
I will work on this after #34.

[2020-04-12 18:25] edgarcosta commented on #34
I would address the remaining issues tonight.

[2020-04-12 18:25] AndrewVSutherland opened #40 "Check for similar seminars when creating a new one"
There have been (and will surely continue to be) problems with duplicate seminars, e.g. when a seminar is initially created by a curator and later the organizer discovers our site and without realizing that their seminar is already on the site, recreates it.  Unless they happen to pick exactly the same short id, they are unlikely to realize this (this has already happened twice).

We should search

[2020-04-12 18:30] AndrewVSutherland commented on #27
Also, as noted on #40, if a user's email is listed as the organizer of an existing seminar they should automatically be endorsed -- this could be discovered either when the create their account (in which case let them know about the seminar(s) they are listed as organizers on), or when someone else adds them as an organizer (anyone entering an organizer's email into a seminar they are editing is p

[2020-04-12 18:37] edgarcosta commented on #19
https://pypi.org/project/parse/

On Sun, 12 Apr 2020 at 14:05, rbommel <notifications@github.com> wrote:

[2020-04-12 18:39] edgarcosta commented on #37
https://pypi.org/project/iso639/

On Sun, 12 Apr 2020 at 08:12, Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-12 18:41] AndrewVSutherland opened #41 "Edit schedule server error"
I get a server error if I try to edit the schedule of a new seminar I just created.  To  reproduce go to https://mathseminars.org/seminar/AATRN and click edit schedule to get

The page you are looking for has produced a server error.
To help us improve the website, please report this page's URL "http://mathseminars.org/edit/schedule/?shortname=AATRN" as well as the URL of the page you are coming f

[2020-04-12 18:49] alexjbest commented on #41
from the flasklog
[code]

[2020-04-12 18:59] edgarcosta commented on #41
I have patched it, we should enforce end times for seminars if they have a
start time.

On Sun, 12 Apr 2020 at 14:41, Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-12 18:59] edgarcosta commented on #41
I will be back by sunset or so.

On Sun, 12 Apr 2020 at 14:58, Edgar Costa <edgarc@mit.edu> wrote:

[2020-04-12 19:00] MaxAVF commented on #30
I think the search by keyword is working as stated. Note that search "by keyword" means searching the list of keywords assigned to every talk, not actually searching over the words apppearing in the abstract. In that example, "variance" is not a keyword of that talk. Maybe that's another feature that could be addded.

[2020-04-12 19:05] AndrewVSutherland commented on #41
Yup, my mistake, but others could easily do the same.

[2020-04-12 19:08] MaxAVF commented on #11
I also think this would be a great feature, I was thinking about using the rss feed to create a Twitter bot that would tweet about upcomings seminars/talks.

[2020-04-12 19:12] poonen commented on #30
@MaxAVF: I don't know what you are talking about.  There is no option on the "Edit talk" page to associate keywords to a talk.  There is no option on the "Edit seminar" page to associate keywords to a seminar.  Meanwhile, the "Info" page says "You can search for seminars and talks satisfying various criteria, including specifying keywords within talk abstracts".  Is there supposed to be some way o

[2020-04-12 19:12] AndrewVSutherland commented on #30
@MaxAVF Actually talks do not have assigned keywords.  They did once, but we concluded that it was unreasonable to expect people to add keywords and in a situation where most are not adding keywords it was more useful to just search the abstract.

[2020-04-12 19:17] MaxAVF commented on #30
My bad, i just tried searching for the keyword "group" and found this talk that has a list of keywords below the abstract https://mathseminars.org/talk/TopologicalGroups/1/
So I assumed every talk had the option to add keywords, and the search was actually looking at those keywords, but seems like it's not.

[2020-04-12 19:17] AndrewVSutherland commented on #30
@poonen, Your interpretation is correct, the intent is that this search should check for any of your keywords appearing anywhere in the abstract (case insensitvely) and return all talks that match.  The fact that it is not doing this right now is indeed a bug.

If a speaker or organizer wants to add keywords to an abstract (that don't already appear in it), they can just add a line to the bottom o

[2020-04-12 19:20] AndrewVSutherland commented on #30
@MaxAVF Yeah, I can see why you were confused, that is simply the comment field for the seminar (see see https://mathseminars.org/seminar/TopologicalGroups), which the organizers chose to make a list of terms (and the seminar keyword search should find them).

[2020-04-12 19:56] AndrewVSutherland commented on #22
@roed314 Thanks, but I think there is still a bit more to do on this (e.g. specifying the times of more than one talk), and I don't think it yet supports multiple talks per week (unless I missed something).

[2020-04-12 21:25] poonen commented on #31
I made this "high priority" because this is something that probably a lot of users, registered or not, are encountering.

[2020-04-12 21:26] poonen commented on #30
I made this "high priority" because this is something that probably a lot of users, registered or not, are encountering.

[2020-04-12 22:33] roed314 commented on #22
I added a field to the edit seminar properties for "talks per day."  There is certainly more that could be done in terms of making start time and end time lists, but I think it's at least fairly usable now, since you have two time slots per day and can edit them in the schedule.

[2020-04-12 22:35] AndrewVSutherland commented on #22
Agreed, this is certainly lower priority than other issues, I was just noting that the issue is not fully resolved by #32.

[2020-04-12 22:36] roed314 commented on #22
I updated https://mathseminars.org/seminar/WHSymplectic and https://mathseminars.org/seminar/LeipzigNonlinAlg to have 2 and 3 talks per day respectively.  Take a look at their edit schedule pages to see what's currently there.

[2020-04-12 22:45] roed314 commented on #37
I will work on this: it is also a feature I thought about earlier this week.

[2020-04-13 00:31] AndrewVSutherland commented on #22
@roed314 Thanks.  It would obviously be nice if it could replicate the pattern of times automatically, but this is certainly usable as is.

[2020-04-13 00:43] edgarcosta commented on #41
I think this can be closed

[2020-04-13 00:49] edgarcosta commented on #14
@alexjbest, can you check that is indeed fixed?

[2020-04-13 00:53] #41 closed

[2020-04-13 00:54] alexjbest commented on #14
Sortof! If I change one of the existing pre-filled dates in schedule to a new day and click save still nothing happens (it warns if one changes the time), maybe this is fine. But if a user goes to the trouble of writing something in and clicks save I think the warning "Warning: Talks are only saved if you specify a speaker" should be shown then too.

[2020-04-13 00:58] edgarcosta commented on #14
if he writes something on any other field he will get a message.
notcing changes on prefilled fields is possible, but is a pain in the but, as we need to track what we filled them with...

[2020-04-13 01:04] AndrewVSutherland opened #42 "knowl-free path to talk pages for robots"
Currently Google is not indexing our talk pages because they cannot be reached from the front page without opening a knowl.  We should arrange the site so that a robot can find a path from the front page to every talk page without opening any knowls.

[2020-04-13 01:08] AndrewVSutherland opened #43 "Distinguish organize/curate on managing seminar page"
Currently the manage seminar page lists all seminars that a user either organizes or curates under a header that says "Seminars you organize" (and similarly for conferences).  It would be better to either have separate lists for seminars organized vs curated or to add a column indicating the users role with the seminar (or conference).

[2020-04-13 01:12] AndrewVSutherland opened #44 "Calendar view and/or stats page"
It would eventually be nice to have a page that gives an overview of all the talks on the site (both past and future), grouped by day, week, month, year, and with the ability to filter by topic.

[2020-04-13 01:47] alexjbest commented on #42
How about just linking the date + time in the leftmost column to the talk page?

[2020-04-13 02:18] edgarcosta commented on #42
We now have a hidden column.
`wget` seems to be happy with that solution.

On Sun, 12 Apr 2020 at 21:51, Alex J Best <notifications@github.com> wrote:

[2020-04-13 02:21] edgarcosta commented on #42
I have asked for a recrawl.

[2020-04-13 03:43] yujitach opened #46 "Make mathseminars.org more generic to replicate arXiv.org sections"
I’m a string theorist and I’m very much interested in adapting mathseminars.org for string theory. As arXiv.org is the de facto standard in both math and physics, it would be nice if mathseminars.org would be just seminars.org, and that each seminar can be tagged by one or more arXiv category tags, such as math.AT or hep-th. This hopefully minor enhancement would  instantly make mathseminars.org i

[2020-04-13 04:15] edgarcosta commented on #27
#34 deals with the last part.
When a user confirms their email or logins we endorse them if they are organizers of some seminar.

[2020-04-13 06:45] roed314 commented on #37
I think this is resolved by #48 and is now live.  Take a look, and update the talks that you know aren't English (I was only able to find one past Russian talk, and no Catalan talks, so the filter-by-language feature on the browse page isn't very useful at the moment).

[2020-04-13 06:53] roed314 commented on #46
We've thought about this, but seminars.org wasn't available as a domain name.  :-(

We decided to start with math, but are certainly open to this idea.  The missing ingredients are:
* An appropriate domain name (I wanted math.seminars.org and hep.seminars.org, etc but wasn't able to get seminars.org).  I think there's a discussion to be had about what the scope of the talks shown on the front page

[2020-04-13 07:22] #31 closed

[2020-04-13 07:28] roed314 commented on #30
This was also resolved by #49.

[2020-04-13 07:28] #30 closed

[2020-04-13 07:42] roed314 commented on #10
I think this is now resolved by #50.  @AndrewVSutherland, if you agree, go ahead and close this issue.

[2020-04-13 07:54] bpioline commented on #46
Amazing work !

I totally agree with yujitach's suggestion. There is a lof of interest from the high energy theory community. Currently, lots of talks are advertized through a Facebook group "Physics in time of coronavirus" but this is hardly sustainable. The domain name "seminartracker.org" is up for grabs - at least now. Regarding the front page, it would be quite crowded on the first time, but

[2020-04-13 09:55] AndrewVSutherland commented on #10
I think it is okay as is (certainly XX:XX in your timezone: AAA is crystal clear), but I note that it is only displaying the user's time, it does not show the seminar time, contrary to what you wrote above; is that the intention?

One reason to also display the seminar time zone would be for consistency with the external seminar page which the user can reach by clicking the seminar title.  Also, o

[2020-04-13 13:48] #14 closed

[2020-04-13 13:49] alexjbest commented on #14
Sounds fine for now then! This was only a behaviour I noticed when being lazy testing another feature so it seems unlikely this will cause any issues for users in the present state.

[2020-04-13 14:17] AndrewVSutherland opened #51 "Endorsed users creating content should be required to have a name"
The list of endorsed users at https://mathseminars.org/user/public/ should list a name and affiliation for each endorsed user (and ideally also a home page).  I just added some missing names from the full_name column of the seminar_organizers table (which exists because not every organizer has a mathseminars account).  In cases where a seminar organizer's email matches that of a user with a mathse

[2020-04-13 15:20] edgarcosta commented on #51
1- https://github.com/roed314/seminars/blob/master/seminars/users/main.py#L568 only endorsed users show on that list
2- think we need to create a document with all the logic for endorsement.
3- at what time I check if they have their name/affiliation filled in? all the time?

[2020-04-13 15:30] edgarcosta opened #52 "start and end dates for seminars"
`start_date` and `end_date` were added to the schema, without any code to handle them, and currently are set to None all the time, to avoid breaking the website:
https://github.com/roed314/seminars/blob/6d9672ea825207b8b93d3d28018c536b7d750d01/seminars/seminar.py#L54

we need to fix this at some point

[2020-04-13 15:32] AndrewVSutherland opened #53 "Private seminars visible only to organizers"
For planning purposes it would be useful for organizers to be able to create a preliminary version of a seminar (or workshop/conference/event) to which they could post talks that would only be visible to organizers of the seminar.

I can imagine two use cases for this:

(1) A private version of a public seminar that the organizers could use to plan future talks that are only to be made public once

[2020-04-13 15:46] AndrewVSutherland commented on #51
1. Great, that was my understanding.
2. Definitely, and we should discuss this with @poonen.
3. I would say whenever it is most convenient.  The user can change their name in any case, so from a coding perspective, I think the goal should simply be to make sure the user fills in it at least once (with the current setup they could easily forget and not realize it).

We should have a public set of p

[2020-04-13 17:23] roed314 commented on #52
I'm working on this.

[2020-04-13 18:22] poonen opened #54 "Add policy page"
Under the "Info" tab, create a new page spelling out the site's policies.
"We reserve the right to edit or remove content..."

[2020-04-13 19:31] #42 closed

[2020-04-13 19:33] #37 closed

[2020-04-13 19:34] AndrewVSutherland commented on #6
We are going to follow the arXiv model and make emails accessible only to logged in users, which will keep bots from reading them.

[2020-04-13 20:12] jamiesully commented on #46
I'm currently managing the Facebook group for high-energy theory (https://www.facebook.com/groups/204251324219544) and it's clear there is substantial interest already.

If the maintainers of mathseminars aren't interested in broadening outside of math for the time being, I'm happy to set-up a fork for the physics community.

[2020-04-13 20:25] roed314 commented on #46
I think we are willing to broaden (and, in particular, to host and maintain the database of talks), but need some more manpower from people who know enough Python/Flask/Django/Postgres to help resolve issues (and, of course, to administer other subject areas).  Right now we're already drowning a bit in terms of the features that we're trying to add immediately to make this work better for the math

[2020-04-13 20:37] AndrewVSutherland opened #56 "Replace e-mail links with home page links for organizers"
Every seminar should have contact information for at least one organizer (or curator).  Rather than providing e-mail links (which should never be displayed unless the user has opted-in) it would be better to provide a link to a web page that contains the contact information for the organizer (e.g. the organizer's personal or department web page).

[2020-04-13 20:52] kedlaya commented on #11
I should add: MathMeetings also provides an API with options to retrieve JSON or XML in addition to RSS. I'd be satisfied with any of them.

[2020-04-13 21:10] jamiesully commented on #46
I'm happy to help as I'm able. I have some minimal experience with Python and Flask, but definitely not an expert.

[2020-04-13 23:13] roed314 commented on #46
We just purchased scimeet.org.  Later tonight I'll think a bit about what needs to be done to make it usable by other subjects.

[2020-04-13 23:15] roed314 opened #57 "Details on edit pages should emulate links better"
We made the details links on the edit schedule page a button, so that it would save the form.  But this means you can't right click and open them in a new tab.  It would be good to be able to do this.

[2020-04-13 23:31] julioparra commented on #46
Much needed! Trying to mimic the time tested arXiv model (categories, moderators, endorsement, daily announcement, etc) seems like a good idea. I have worked with Python, but not the other tools.  Still, I'd be happy to contribute if I can. For instance by curating the high-energy categories (hep-th, hep-ph, gr-qc), etc.

[2020-04-14 00:03] AndrewVSutherland opened #58 "Support static knowls"
It would be very useful to be able to use knowls to add explanations to captions and column headers to make additional explanatory text available to the user without cluttering the screen.

These would be static with the content stored in a .yaml file.

[2020-04-14 02:39] edgarcosta opened #60 "Display under maintenance warnings before hand"
We should have an easy way to enable a banner notifying users of planned downtime, e.g.
[code]
It is even better if the time can be displayed in the user's time zone.

[2020-04-14 03:52] jamiesully commented on #46
I also can offer up 'seminarxiv.org' if that's a preferable domain name.

[2020-04-14 05:58] roed314 commented on #46
Thanks for the offer on `seminarxiv.org`.  We can decide later what the right domain is, once we have the functionality going.

Here are some of my thoughts on what needs to be done.

* Structural questions: are there multiple databases each with a webserver, or one webserver running per subject but all connecting to the same database, or just one webserver overall (which is routing all the differ

[2020-04-14 05:59] roed314 commented on #52
This should be addressed by #61, once that's merged into `live`.

[2020-04-14 06:00] roed314 commented on #26
This should be addressed by #61, once that's merged into `live`.

[2020-04-14 06:04] roed314 commented on #53
Currently we have a notion of "private" which is that is doesn't show up on the browse page or in search results, but will still be displayed with a direct link to the URL.  Is this what you mean by private?  Or do you want a version where the seminar organizers are the only ones even able to access the url?  For the second version I think we would need a new column in the `seminars` schema.

[2020-04-14 14:19] edgarcosta opened #63 "Fix lmfdb reconnect!"
When the server loses connection with the db it tries to reconnect to lmfdb

[2020-04-14 19:25] AndrewVSutherland opened #66 "Add delete user option"
Users should be able to delete their accounts.

[2020-04-14 21:30] poonen opened #71 "Spacing on "View seminar" page"
Two very minor suggestions for the "View seminar" page:
1) Put a space on each side of the / separating institutions.
2) Consider putting the description on its own line.

See
   https://mathseminars.org/seminar/PPT
for an example where these would be improvements.

[2020-04-14 21:43] poonen opened #72 "Merge the institution "MCM Members Seminar" into "Morningside Center of Mathematics, Chinese Academy of Sciences""
The institution
mcm20200423    MCM Members Seminar
should be deleted or merged into
MCM                     Morningside Center of Mathematics, Chinese Academy of Sciences

Are there any seminars attached to it?  If not, perhaps it can just be deleted, and its creator can be notified.

[2020-04-14 22:02] AndrewVSutherland commented on #72
mcm20200423 had no seminars and has been deleted.

[2020-04-14 22:02] #72 closed

[2020-04-14 22:20] roed314 opened #74 "Past/Future tab for conferences on institution homepage"
Currently we show conferences in ascending order of `start_date`.  Eventually this will get unwieldy.

[2020-04-14 22:25] roed314 opened #75 "Conference search"
We should separate the search for conferences and seminars.  Currently all the conferences show up at the bottom since they don't have a day or time usually.  Instead, we should display start and end date.

[2020-04-14 23:51] AndrewVSutherland opened #80 "We should not actually delete seminars and talks"
Since we are already versioning changes, we should not actually delete seminars or talks when the user requests this, we should simply write a "deleted" version.  Eventually someone is going to accidentally delete a seminar with hundreds of talks and we should be able to undo a mistake like this.

(in general we should never actually delete anything except user data that a user asks to be deleted)

[2020-04-14 23:57] AndrewVSutherland opened #81 "Insufficient validation of institution admin/maintainer"
Currently when creating or editing an institution the "Admin" field (displayed as "Maintainer" on the view institution page) can be set to any email address in the users table, including emails that have not been confirmed (let alone endorsed).  Only the email of an endorsed user should be permitted here (by default it is set to the user creating the institution, who is necessarily endorsed).

I a

[2020-04-15 00:15] AndrewVSutherland opened #82 "Mailing list for new seminars"
It would be nice to have an option for users to sign up to a mailing list announcing new seminars and conferences (like arXiv announcements).   They should filtered by topic.

[2020-04-15 01:31] edgarcosta commented on #71
See if now looks better: https://master.mathseminars.org/seminar/PPT

[2020-04-15 01:57] #26 closed

[2020-04-15 02:37] poonen commented on #71
On master.mathseminars.org it looks perfect.  On mathseminars.org it looks as if only 1. has been implemented so far.  Once 2. is there too, feel free to close this.

[2020-04-15 02:39] poonen commented on #80
Agree.  What about institutions?

[2020-04-15 02:41] poonen opened #83 "Asterisks to indicate required items"
On the various forms, put a small red asterisk immediately to the right of the name of each required item.

[2020-04-15 03:15] poonen opened #84 ""Online" slider on the Search page"
When at the Search page, searching for seminars, the "Online" slider seems to do nothing.

[2020-04-15 03:33] roed314 commented on #84
Well, basically all of our seminars are currently online.  Did you try creating a test seminar that isn't online and searching to see if it came up?

I guess the non-obvious thing is that "online" means "require an online presence" rather than having it being unchecked mean "exclude seminars that are online."

[2020-04-15 03:55] poonen commented on #84
The problem is as you guessed, that I had assumed that unchecked meant "exclude online talks".  The slider should be labelled "Online only" to clarify this.

[2020-04-15 06:17] #34 closed

[2020-04-15 06:50] roed314 opened #89 "Locks"
We should have locks to prevent simultaneous editing of talks/seminars/institutions.

[2020-04-15 10:38] AndrewVSutherland commented on #80
We currently don't provide any way to delete institutions, but if/when we do the same should apply.

[2020-04-15 16:06] edgarcosta commented on #27
#85 once is live, we will be able to preendorse users

[2020-04-15 16:06] #27 closed

[2020-04-15 16:25] #52 closed

[2020-04-15 17:52] poonen opened #92 "Start time before end time"
At https://mathseminars.org/edit/schedule/?shortname=testseminar
there is a talk from 22:00 to 01:00 the next day in Central Time
(the talk itself is in Alaska Time), which should be fine.

But when I click Refresh, I get an error
"Error: Your start time is after your end time; perhaps you forgot pm".

Even worse, I get the error when I try to click "Details" to edit the talk.

[2020-04-15 18:33] edgarcosta commented on #71
Now on live

[2020-04-15 18:33] #71 closed

[2020-04-15 19:20] roed314 opened #95 "Filter language preference isn't saved"
If the user navigates away from the browse page, their languages are saved but not whether they want to filter by language.

[2020-04-15 19:25] roed314 commented on #95
This is now fixed on https://master.mathseminars.org/ and will be fixed on the main site when we update it.

[2020-04-15 19:36] roed314 opened #96 "API for adding talks to seminars"
It would be nice to be able to update seminars and talks using an API.  For talks, we already have a token that could be used for authentication; for seminars we would need to add a token for this purpose.

My inclination would be to use json to pass objects to and from an external user.  When we receive requests to update the database, we would need to validate the data, authenticate, then save t

[2020-04-15 20:16] edgarcosta opened #98 "Send email to users when they get endorsed"
users, already registered and with email confirmed

[2020-04-15 21:09] poonen commented on #53
On the edit/create seminar page, have a new line

Visible to [ dropdown menu ]
                  organizers only
                  anyone with the URL
                  all

with all being the default.
Internally there will be six values, because it records also whether the user is endorsed.

On edit/create talk page,
[toggle] Visible
with a forminfo saying
"For a talk to be visible, the seminar m

[2020-04-16 02:36] tornaria commented on #27
Sorry to crash this (closed) issue.

What about also auto-pre-endorsing speakers?

[2020-04-16 02:49] AndrewVSutherland commented on #27
Speakers can already be sent a link that will let them edit the details of their talk.  I don't think it makes sense to automatically pre-endorse them (although the organizers of the seminar can certainly do this if they wish).  The logic for doing this with organizers is that there is already content on our site that they might well have an interest in editing, but I expect most speakers won't ha

[2020-04-16 07:40] roed314 opened #102 "Display all of the content for seminars and talks"
There are some attributes of seminars and talks (e.g. videos and slides) that we don't currently display.  We should add them to the seminar and talk templates.

[2020-04-16 09:53] ddorian1 opened #103 "Possible to lock out from own seminar"
If you create a Seminar and by accident (or ignorance of the consequences) remove all e-mail addresses in the organizer section, there is no possibility to edit the seminar any more.
When trying to do so, you are told to contact the seminar owner (i.e. yourself) to grant you permission, what's impossible.

[2020-04-16 12:10] tornaria opened #104 "Embeddable schedule"
A useful feature would be a page for each seminar with only the schedule, so it can be embedded in the seminar "external" homepage (+ sample code to paste into html).

The point is: I don't want to update the list of talks twice, and the mathseminars interface is so nice...

[2020-04-16 12:52] tornaria commented on #82
What about email reminders of talks?

[2020-04-16 13:01] AndrewVSutherland commented on #82
@tornaria Giving users a way to subscribe to seminars and receive automatic reminders of upcoming talks would be a nice feature to add.  Now that we have moved our email server in house this is something we could easily support.

We would want to add a "Manage subscriptions" section to the user account page where users could control which new seminar announcements they want to receive, which semin

[2020-04-16 13:07] AndrewVSutherland commented on #104
@tornaria This is a great idea (and easy to do).  You can also achieve this using an embedded  calendar, but I think this a simpler and better approach.

Anything we can do to make it easier for seminar organizers to maintain their listings on mathserminars.org without having to enter data twice is a high priority for us.

[2020-04-16 13:39] AndrewVSutherland commented on #103
This is bug, the user who created the seminar should always be able to edit it, but as I just confirmed, this is not the case.

I will be submitting a PR shortly that, among other things, won't let you save a seminar without at least one email listed, but that doesn't change the fact that we need to fix this bug.

[2020-04-16 14:48] AndrewVSutherland commented on #102
I can do this today.

[2020-04-16 14:53] AndrewVSutherland opened #105 "User guide for organizers."
We should add a document describing the workflow for seminar/conference organizers that includes a "getting started" section on how they can set up their seminar (including an explanation of features that might not be obvious at first glance, e.g. how talks inherit properties from seminars, how to manage the schedule layout, etc...), as well as a guide to the workflow, including sending links to s

[2020-04-16 15:11] edgarcosta commented on #103
@ddorian1, can you tell me the seminar?

[2020-04-16 15:12] edgarcosta commented on #103
@ddorian1, also did you change your email meanwhile?

[2020-04-16 15:15] ddorian1 commented on #103
Se seminar in question is https://mathseminars.org/seminar/BISTRO.
As it was still pretty empty, I recreated it as https://mathseminars.org/seminar/BISTRO-Seminar. So feel free to delete the old one (https://mathseminars.org/seminar/BISTRO).
And yes, I changed my email. Sorry if that complicates matters.

[2020-04-16 15:17] edgarcosta commented on #103
@AndrewVSutherland, the issue is that we are storing the user's email, not id, in the seminar db

[2020-04-16 15:20] ddorian1 commented on #103
Just to clarify: I was already locked out of the seminar **before** I changed my email.

[2020-04-16 17:36] #103 closed

[2020-04-16 19:04] AndrewVSutherland opened #115 "Filter talks by time of day"
It would be nice if on the browse page you could restrict to talks in a certain time range (e.g. only  times when you are usually awake)

[2020-04-16 19:57] roed314 commented on #6
We have also given users the option to include their homepage, and just went through to update all the organizers.

[2020-04-16 19:57] #6 closed

[2020-04-16 19:57] roed314 commented on #56
Done

[2020-04-16 19:57] #56 closed

[2020-04-16 20:07] roed314 commented on #95
Fixed

[2020-04-16 20:07] #95 closed

[2020-04-16 20:12] roed314 opened #116 "Reduce our dependencies"
We currently depend on the LMFDB, and through it on Sage.  This is ridiculous.

One option would be to factor out the database backend from LMFDB into a separate project that we could either add as a git submodule or make pip installable.

[2020-04-16 20:50] roed314 opened #118 "More knowls"
We should add more knowls to data entry fields.

[2020-04-16 20:50] roed314 commented on #58
See #118 for adding more knowls.

[2020-04-16 20:50] #58 closed

[2020-04-16 23:25] #81 closed

[2020-04-17 03:26] edgarcosta opened #125 "talk link doesn't work"
reported by @tornaria

Here are the steps (still broken):
1. open a private window in firefox (to make sure I'm not logged in,
also uMatrix is disabled just in case)
2. paste the link into the address bar
3. type something into the "abstract" box (I just typed "a")
4. hit "save"
This yields the error I reported.

As a matter of fact, even skipping 3 gives the error.

The same happens in a regular

[2020-04-17 04:08] roed314 commented on #125
Fixed.

[2020-04-17 04:08] #125 closed

[2020-04-17 04:10] roed314 commented on #104
We have a first draft of this.  See https://mathseminars.org/seminar_raw/LATeN for example.

[2020-04-17 11:55] gabrielemondello commented on #53
Hello,

I cannot find the "visible" option or the "private" one.
Where is it?
I tried to look up in the "create" or "manage" screen, but it seems it's not there.

Thanks!

[2020-04-17 11:59] AndrewVSutherland commented on #53
@gabrielemondello This feature has not been implemented yet, this issue will remain open for discussion, suggestions, and updates on progress until it is implemented.

[2020-04-17 12:16] gabrielemondello commented on #53
Ok, sorry for my misunderstanding.
Hope it gets implemented soon!
Thank you!

[2020-04-17 13:40] #98 closed

[2020-04-17 13:41] edgarcosta opened #131 "Confusion at seminar creation"
@tornaria reported

[2020-04-17 13:43] edgarcosta opened #132 "Reorganize organizers"
reported by @tornaria

[2020-04-17 16:46] AndrewVSutherland commented on #104
It would be good to have separate links for page and future talks (you might only want to show future talks, or to show the past and future talks on different parts of your web page/site).

[2020-04-17 16:55] roed314 commented on #43
Done

[2020-04-17 16:55] #43 closed

[2020-04-17 17:14] roed314 opened #133 "Sort seminars in search results by their next talk"

[2020-04-17 17:15] AndrewVSutherland commented on #92
I think a reasonable fix for this is to display warnings for talks that seem unrealistically long (more than 8 hours, say), but not complain about an end time of day that precedes that start time of day.  So 22:00 to 1:00 would not trigger a warning but 10:00 to 1:00 would.

And there should never be errors that prevent you from editing or viewing something.

[2020-04-17 17:32] rbommel commented on #66
Will this also delete the seminars for which they are the sole organiser/curator, or do we keep orphaned seminars?

[2020-04-17 17:35] rbommel commented on #133
Would it be an idea to prioritise seminars which are favourited?

[2020-04-17 17:57] poonen commented on #92
@AndrewVSutherland: That sounds like a good idea. So I guess that on the edit schedule page, the end time would always be interpreted as the next time after the start time, even if it would be on a different day.  So 16:00-15:00 would be interpreted as a 23-hour seminar and would trigger a warning.

[2020-04-17 18:03] AndrewVSutherland commented on #92
@poonen Yes, that is what I had in mind -- I can implement this later today.

[2020-04-17 20:15] edgarcosta commented on #84
We have decided that this will become a select named:
"Venue", with the options "", "online", "offline".

[2020-04-17 21:08] roed314 commented on #66
We will keep orphaned seminars, but change the owner to mathseminars-dev@googlegroups.com

[2020-04-17 21:08] #66 closed

[2020-04-17 21:09] roed314 commented on #80
Done.

[2020-04-17 21:09] #80 closed

[2020-04-17 21:41] poonen commented on #84
There are 3 types of talks: online only, offline only, online+offline.
There are therefore 2^3 types of searches one could do, depending on which subsets of these types you want included in the search results.  I don't know which subsets "", "online", "offline" refer to - this seems pretty confusing to me.

[2020-04-17 21:43] poonen commented on #84
I'm not saying that we need to include the ability to do all 2^3 searches.  I'm just trying to make the point that the behavior of your labels is ambiguous.

[2020-04-17 21:49] roed314 commented on #84
I think the useful searches are "has an online presence", "has an offline presence" and "no constraint".  I welcome better language for what to put in the select dropdown.

[2020-04-17 21:59] poonen commented on #84
Maybe it's impossible to explain that with short words.  Offline sounds too much like the complement of online.

Maybe in the dropdown menu use
   online
   in-person
   any
with the default being any, and then include a knowl on the word "Venue" with the following explanation?

     Selecting "online" limits search results talks that are accessible online.
     Selecting "in-person" limits search

[2020-04-17 22:27] poonen commented on #132
Buttons for doing adjacent transpositions might suffice, since usually the list of organizers is not so huge (and I think we all know that they generate S_n!).  Already that would be a lot better than copy-pasting.

[2020-04-17 22:39] poonen commented on #131
Sorry, I had forgotten that users could create a seminar before they had permission to create an institution.  I updated the text on the "manage" page.

[2020-04-17 23:10] tornaria commented on #104
Looks good.

My css-fu is not very good, if I `<embed>` as is I get a small widget with scrollbars. I put `width=100%` which is kind of ok for horizontal, but for height I had to hardcode a size and if it's too large I get empty space after the embed, if too small, vertical scrollbar. If I find the perfect height it looks great.

I'm sorry I can't be of more help with this :-(

My ideal would be s

[2020-04-18 00:06] #92 closed

[2020-04-18 00:08] AndrewVSutherland commented on #92
This is now fixed on master but we need to fix a few unrelated issues before updating the live site.

[2020-04-18 01:19] edgarcosta commented on #116
The first step would be to avoid imports of lmfdb inside the backend:
Here are the main offender imports (I removed duplicates):
[code]
the configuration is perhaps the trickiest one, as the code relies on abspath, so we can just place a symlink inside backend.

Once we have done, we can just symlink to the folder, and also wrap:
[code]
around an if, that checks if the absolute path has `lmfdb/lmf

[2020-04-18 01:21] edgarcosta commented on #63
See #116.

[2020-04-18 01:21] #63 closed

[2020-04-18 01:31] edgarcosta commented on #104
@tornaria, I'm planning to work more on this to a bit more to make it easier to include as an iframe.

I believe that is exactly why @kedlaya started #11.

[2020-04-18 01:36] edgarcosta commented on #11
@kedlaya, would a single JSON with all the talks (in the specified range) would sufficient?

[2020-04-18 01:58] kedlaya commented on #11
Absolutely yes!

[2020-04-18 14:33] AndrewVSutherland commented on #60
Tagging this future because with our current setup software and schema changes should require no perceivable downtime (the switch takes less than one second).  The only reason we should ever need to schedule downtime is if/when we need to reboot grace, but this is very rare, and certainly does not need to happen in the next month or two (grace is currently all caught up on software updates and no

[2020-04-18 14:38] AndrewVSutherland commented on #51
https://mathseminars.org/user/public/  now only lists endorsed users that have non-empty names, affiliations, and home pages.  email address are no longer displayed, only links to homepages.

[2020-04-18 14:38] #51 closed

[2020-04-18 14:46] AndrewVSutherland commented on #22
We now have columns for start_times and end_times in the schema, we just need to add this to the UI.  Bumping the priority because i have gotten a couple of emails me about this in the last 24 hours (in both cases they are seminars with two talks)

[2020-04-18 16:37] edgarcosta opened #150 ""deleted" = false OR "deleted" IS NULL"
@roed314, can we replace NULLs by falses?

[2020-04-18 16:41] AndrewVSutherland commented on #150
Yes, but we still want this in the code as a backstop.  This is exactly what broke things last night.

[2020-04-18 16:50] roed314 commented on #150
I just replaced them all in the data.  Let's leave the search queries as is for the moment.

[2020-04-18 17:08] AndrewVSutherland commented on #150
I also went through the seminar homepages and made sure the current versions all have valid URLs for homepages (we are now validating this but were not for a while)

[2020-04-18 17:08] #150 closed

[2020-04-18 18:00] #10 closed

[2020-04-18 20:04] AndrewVSutherland commented on #13
Automatic URL formatting is done.  Removing hight priority label.

[2020-04-18 20:12] #102 closed

[2020-04-18 23:30] poonen commented on #133
I like rbommel's idea.  I suppose that specifically this means that (for logged-in users) all the favorited seminars would appear first, in order of their next talk, and then all the non-favorited seminars would appear in order of their next talk.

Alternatively, one could give favorited talks a smaller bonus, say by subtracting 7 days from the time of their next talk, and then ordering by this mo

[2020-04-19 01:31] AndrewVSutherland commented on #131
PR #152 (now live on master) makes some further progress on this.  I'm happy to make further changes, and if/when people are happy we can close this issue.

[2020-04-19 15:37] AndrewVSutherland commented on #131
#152 and further improvements made by @poonen are now live, closing.

[2020-04-19 15:37] #131 closed

[2020-04-19 15:46] AndrewVSutherland commented on #118
I can do this (and then ask @poonen to help edit the content).  One UI comment/question, on the create seminar/institution pages we use <th> for captions (rather than <td>) which makes the knowl links show up in bold.  This has the advantage of making them more obvious but might become annoying on a page full of them, and differs from the styling on the LMFDB (e.g. https://www.lmfdb.org/Genus2Curv

[2020-04-19 15:49] AndrewVSutherland commented on #83
@roed314 It would be easy for me to do this while I am turning the captions into knowl links.

[2020-04-19 15:58] edgarcosta commented on #83
@AndrewVSutherland I would say go ahead.
David is AFK at the moment.

[2020-04-19 16:40] edgarcosta commented on #118
Agree.

Replacing th by td should fix the issue.

On Sun, 19 Apr 2020 at 11:47, Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-19 17:14] edgarcosta commented on #133
I dislike the idea of sorting by favorited, as when I go search/browse seminars, it is mostly because I'm looking for something that is not on my favorites.

Otherwise, I could just head to my account page.

[2020-04-19 17:23] AndrewVSutherland opened #160 "Ampersands in institution names not rendered correctly"
In the dropdown list for institutions, ampersands (which are valid parts of institution names like Texas A & M, see https://www.tamu.edu/ and Williams & Mary, see https://www.wm.edu/) we are currently converting "&" to the html "&amp;" which doesn't render in a dropdown; we should just leave the ampersands alone.

[2020-04-19 17:29] roed314 commented on #83
Just got back, and I agree with Edgar: go ahead and do this.  Thanks!

[2020-04-19 17:36] AndrewVSutherland commented on #133
I assume we are only talking about potentially prioritizing seminars that the logged in user has added to their favorites (this is clear in @poonen's post but not in @rbommel's).  I definitely don't think we should have the sort order depend on how many people have added a seminar to their favorite (people are likely to start gaming the system).

Maybe a compromise between what @poonen and @edgarc

[2020-04-19 17:40] AndrewVSutherland commented on #83
on it.

[2020-04-19 17:43] rbommel commented on #133
Yes, I was thinking about your own favourites. Maybe I am looking for the MIT number theory seminar quickly, and I search for number theory instead of using my personal page. Then what David is suggesting is that the order of my results depend on the day on which I perform the search, which I understand for conferences, but less for seminars. I think people are slightly more likely to look for thi

[2020-04-19 17:59] AndrewVSutherland commented on #83
If anyone has any quick feedback on https://master.mathseminars.org/manage/, that would be useful.  Questions are (1) do we like non-bold knowl titles (using td rather than th) and (2) should we put asterisk's on selectors where blank is not an option (e,g  the seminar/conference choice).   The argument for having it is that it alerts the user they are making a choice, the argument against is that

[2020-04-19 18:04] roed314 commented on #83
I think it looks great.  I agree with the choice on non-bold knowls, and that we should include an asterisk on places like seminar/conference where we'd like them to make an active choice.  I think I might not include the asterisk on time zone (since there it's less likely that they'll need to change it) or on choices for talks that are carried over from the seminar.

[2020-04-19 18:08] edgarcosta commented on #83
I'm on the non-asterisk camp on selectors where blank is not an option, but doesn't affect me very much.

[2020-04-19 18:16] roed314 commented on #83
I also don't have a strong opinion on the asterisk, so I think it's up to you Drew.

[2020-04-19 18:32] AndrewVSutherland commented on #83
@roed314 I actually think the timezone selection is the most critical item when a new seminar is created -- if they don't pay attention to this bad things will happen.  We could distinguish between creation/edits and for some selectors only put an asterix on them during creation (but anything that can be made blank but is not allowed to be blank should always have an asterisk).

[2020-04-19 18:41] edgarcosta commented on #133
I like Drew's compromise. We already have the code for that.

On Sun, Apr 19, 2020, 13:43 rbommel <notifications@github.com> wrote:

[2020-04-19 19:01] edgarcosta commented on #84
@poonen, we have implemented what you suggested, but for the time being David and I decided t omit the option, as many seminars have a room set, and we don't want to be claiming that are meeting in person.

[2020-04-19 19:01] #84 closed

[2020-04-19 19:31] poonen commented on #83
I'd favor interpreting an asterisk to mean "cannot be left blank", so I would include it even on items where a default will be selected.  Anyway, I don't feel strongly about this either.

[2020-04-19 19:38] AndrewVSutherland commented on #83
I think I'm inclined to go with @poonen's suggestion, which has the virtue of uniformity and matches what I have done so far.

[2020-04-19 21:59] roed314 commented on #133
I'm going to leave the compromise to another issue, since I think there's more discussion to be had if we're going to be including the filters on the search page in addition to the browse page.  Unless Drew is just proposing another search input?  The values of search inputs are not saved across visits to the Search page, unlike the filters on the browse page which are saved in cookies.

[2020-04-19 23:48] edgarcosta commented on #83
Case closed then!

On Sun, Apr 19, 2020 at 3:39 PM Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-19 23:49] edgarcosta commented on #133
I agree that filtering by saved is not a high priority at the moment.

On Sun, Apr 19, 2020 at 6:00 PM roed314 <notifications@github.com> wrote:

[2020-04-20 01:25] poonen opened #165 "Conversion of URLs to links on seminar pages"
It seems that sometimes on a seminar's page, a URL in the description gets mangled with the next word before being converted to a link.

For an example, see

https://master.mathseminars.org/seminar/mitpde

[2020-04-20 01:30] AndrewVSutherland commented on #165
I know where the problem is.

[2020-04-20 01:36] poonen opened #166 "Displaying email addresses on institution pages"
Are the email addresses of maintainers of institutions public on the institution's page?  If so, we should make it so that they aren't.

[2020-04-20 01:38] poonen commented on #39
Oops, sorry, I didn't mean to close this.  I'm not sure I understand the technical details, but if someone can explain them, I can add this.

[2020-04-20 01:46] AndrewVSutherland commented on #166
You are right, we should fix this.  it should link the maintainer's home page not their email.

[2020-04-20 01:57] #83 closed

[2020-04-20 02:35] AndrewVSutherland commented on #166
This is now fixed on master, see

https://master.mathseminars.org/institution/BC/

for example.  We should add a check to the save institution page to make sure the maintainer's name and homepage are set (as we do for seminar organizers), and add a warning to the user profile page that they should not leave their homepage blank if they don't want their email address shown.  I'll create a separate

[2020-04-20 02:35] #166 closed

[2020-04-20 02:35] AndrewVSutherland commented on #165
This is now fixed on master, see https://master.mathseminars.org/seminar/mitpde.

[2020-04-20 02:35] #165 closed

[2020-04-20 02:38] AndrewVSutherland commented on #118
There are now knowls on the captions of all input boxes on create/edit pages except the user info page, where I don't think they are necessary.

[2020-04-20 02:38] #118 closed

[2020-04-20 06:36] roed314 opened #169 "Filters in searching"
There was a proposal in #133 to use the "saved-favorites" filter on the search page in addition to the browse page.  We could also do the same for the other filters.  This issue is for figuring out how we want to apply filters to the seminar search results (and talk search results as well).

[2020-04-20 06:38] roed314 commented on #133
I've created a followup issue, and master.mathseminars.org currently has seminar search results sorted by next talk.  Once we merge into live we can close this issue.

[2020-04-20 07:01] roed314 commented on #53
There's a version of this now available on master.mathseminars.org.

[2020-04-20 10:35] AndrewVSutherland opened #170 "Institution maintainer homepage"
The maintainer of an institution should be warned if they do not have their name and homepage set on their user account (currently they all do), and also warned if they later try to make these blank.

As with organizers, when we display the maintainer of an institution we display their name with a link to their homepage in case anyone wants to contact them.  But if either the name or homepage colu

[2020-04-20 14:42] poonen opened #174 "Don't display maintainer name on institution page"
On an institution page such as
   https://mathseminars.org/institution/BC/
I find it weird that the maintainer's name is prominently displayed, especially when (as in this example) the maintainer is not associated with the institution.  On the other hand, we do want people to be able to contact the maintainer in case something needs to be fixed.

I would propose the following compromise: Instead o

[2020-04-20 14:53] AndrewVSutherland commented on #174
@poonen I agree this would be better and it's easy to do.

[2020-04-20 15:39] #174 closed

[2020-04-20 17:05] poonen opened #178 "Endorsing someone who has already been endorsed"
The system sends you back to the top of the account page, and does include the text
"Alex M Blumenthal is already able to create content."
in the endorse section, but it would be good if the system took you to that place in the page where you were, and also displayed this temporary response in a colored rectangle to highlight it.

[2020-04-20 20:08] #133 closed

[2020-04-20 20:12] AndrewVSutherland commented on #133
@roed314 I was just thinking of another search input, not something that would be saved.  I think the default should be all talks, but we could add a toggle that (for that search only) just shows the talks in your favorites list.  I could imagine switching back and forth but if I leave the page and come back I would expect to see everything again.

[2020-04-20 20:13] AndrewVSutherland commented on #133
@roed314 But I also agree this is not a high priority, I would focus on the 6 open high priority issues first (although it looks like you at least partially addressed the private seminars/talks issue?)

[2020-04-20 21:30] poonen opened #180 "Instructions on how to get endorsed"
On master, I added some text at the Public users page on how to get endorsed, since that is where the instructions are needed.

I also intend to add instructions to the FAQ.

[2020-04-20 22:15] AndrewVSutherland opened #181 "Talk not visible?"
Why isn't this talk

https://mathseminars.org/talk/VLSDynamics/3/

visible on the seminar page

https://mathseminars.org/seminar/VLSDynamics

Is it not hidden.  It also does not show up in searches.  Marking this as critical because it is potentially serious (but maybe I am missing something).

[2020-04-20 22:18] poonen opened #182 "Typo in affiliation"
Robert Todd's affiliation is listed as Mount Mercy Univesrity.
Can somebody correct the spelling in the last word?

[2020-04-20 22:20] poonen commented on #180
I moved some text from the Create page to the Public users page, where it is more directly needed.  I think I am done now; if you agree, feel free to close this issue.

[2020-04-20 22:41] duetosymmetry commented on #46
Bumping this again during the APS April meeting. In the division of gravitational physics, somebody suggested a similar repository for talks in our specialty. I pointed out the existence of mathseminars.org and that the HEP community was also interested. So, here are some more votes for generalizing.

[2020-04-20 22:47] AndrewVSutherland commented on #182
Fixed.

[2020-04-20 22:47] #182 closed

[2020-04-20 23:38] roed314 commented on #46
We made a lot of progress today.  I'm hopeful that we'll have something in beta by tomorrow.

[2020-04-21 01:00] duetosymmetry commented on #46
Wonderful to hear, @roed314. I have web, python, and the smallest amount of database experience but no flask or django. Let me know if there's something I can do to help.

[2020-04-21 01:24] #35 closed

[2020-04-21 01:42] edgarcosta commented on #181
There was an html typo in the seminar comments
[code]
that messed up the layout of everything.
I have fixed the typo.

[2020-04-21 01:44] #181 closed

[2020-04-21 02:42] #180 closed

[2020-04-21 03:25] poonen commented on #54
I've started on this.  A stub is at
   http://math.mit.edu/~poonen/policy.html
Let me know your suggestions of other items to add.

[2020-04-21 13:57] edgarcosta commented on #39
Here is a stub:
Q: I have exported my favorites to a calendar, but it shows no events. How can I fix that?
A: Some calendar services sync external calendars only every 24 hours. Furthermore, some service providers may take even longer for the initial sync.
If that is your case, we suggest that you re-add to the calendar by copying the URL of `ICS file` and manually adding it to your account.

[2020-04-21 19:43] edgarcosta commented on #104
I've reworked the framework:
Here are some examples to try out:
[code]

[code]

[2020-04-21 21:47] kedlaya commented on #11
Here's what I did with it: https://kskedlaya.org/nts.cgi

In my wish list, I appear to have forgotten speaker affiliation.

[2020-04-21 21:50] roed314 commented on #46
We're changing our approach, so I don't think this is going to get done today.  I'm hopeful that it will be done tomorrow though.  I'll make a comment shortly with the new plan.

[2020-04-21 22:01] MaxAVF commented on #11
There is a json file for every seminar group? or there is a way to get a json with the data of all the seminars?

[2020-04-21 22:29] roed314 commented on #46
Here's a todo list

- [ ] Add a welcome splash thing where users select subjects if they have no subject cookie.
- [ ] Add subject pages (e.g. scimeet.org/math) that ignores your subject cookie and just shows math talks.  You can still update your topics cookie which will persist on the front page.  Note that if you set some math topics but had physics subject filtering on the front page, the math

[2020-04-21 22:33] roed314 commented on #46
We're working on this branch: https://github.com/roed314/seminars/tree/subject2

[2020-04-21 22:37] tornaria commented on #104
Thanks, it kind of works, and looks nice:

http://www.cmat.edu.uy/~tornaria/LATeN/embed/

It still has the issue with the height -- I have to hardcode it. Moreover, when you try to open a knowl, if that "overflows" the frame it won't be displayed (I guess that's expected, but it makes the feature not very usable).

[2020-04-21 22:44] roed314 commented on #104
This seems like it might be relevant to the height issue: https://stackoverflow.com/questions/9162933/make-iframe-height-dynamic-based-on-content-inside-jquery-javascript

[2020-04-22 00:21] edgarcosta commented on #11
@kedlaya, I have added a speaker affiliation and homepage. Also, can you share your code? as a cgi version is much better than an embeddable schedule

@MaxAVF, tell me what you want, and I see what I can do about it, at the moment, I don't really want to write a full API.

[2020-04-22 00:23] edgarcosta commented on #104
I will look into it.
However, what @kedlaya did with #11 seems a better solution overall.

[2020-04-22 00:27] poonen opened #190 "Privacy policy"
I drafted a privacy policy: see
http://math.mit.edu/~poonen/privacy.html

Can someone create a new tab "Privacy" under "Info" linking to a new file privacy.html and then paste the contents of my file into it?  Probably you can improve the formatting too, if you want!

It would be nice also to create a tab "Policies" under "Info" linking to a new file policies.html that would contain a title "Polic

[2020-04-22 01:39] #39 closed

[2020-04-22 02:03] roed314 commented on #190
Thanks @poonen!  I've just merged the files into master.  You can see them live [here](https://master.mathseminars.org/privacy) and edit them [here](https://github.com/roed314/seminars/edit/master/seminars/templates/privacy.html) and [here](https://github.com/roed314/seminars/edit/master/seminars/templates/policies.html).  I'm going to close this issue, but feel free to open another if there are m

[2020-04-22 02:03] #190 closed

[2020-04-22 02:13] edgarcosta commented on #190
`right to the erasure of your information when it is no longer necessary for us to retain it,`

right to delete your information?

[2020-04-22 02:16] roed314 commented on #53
I've added an item to the FAQ (currently only on master.mathseminars.org); closing.

[2020-04-22 02:16] #53 closed

[2020-04-22 02:20] roed314 commented on #190
Updated

[2020-04-22 03:21] poonen commented on #190
That is simpler wording, though the GDPR Article 17 text uses the language "right to erasure", so I wonder if we should keep it!  I took much of this text from the arXiv, which itself paraphrased the GDPR instead of quoting it directly.  For now, I'll just make it "right to have your information deleted", which I think is closer to the intent (and also closer to what we would actually do if someon

[2020-04-22 05:20] poonen commented on #54
Finished.   I also added a sentence on the Register page to mention the policy pages.

[2020-04-22 05:20] #54 closed

[2020-04-22 05:23] poonen opened #192 "Policies page"
We should all look at the policies (under Info) to make sure we agree with them.  Most of the items are noncontroversial, but a few may be worth discussing.

[2020-04-22 05:26] poonen opened #193 "First sentence at Register page"
I added a sentence at the Register page with links to the policies page and the privacy policy page.  I think it would be better if those links were edited to make them open in a new window/tab.  Also, someone should check that the links were done properly.  I'm not sure I understand the general recipe for citing other pages on the site, though sometimes I can guess from looking at other examples

[2020-04-22 12:32] rbommel commented on #192
For me this seems reasonable. Maybe there should be a liability waiver or something for the American users, don't know how that exactly works over there...

[2020-04-22 12:57] rbommel commented on #193
That looks good Bjorn. If you want to default to opening a new window/tab, you should add `target="_blank"` to the `<a>`-tag. Should there also be some check box where prospective users should confirm that they agree with the policies?

[2020-04-22 13:19] AndrewVSutherland commented on #193
@rbommel I don't think this is necessary (this is not an end-user license agreement), and we don't want to go back and get acknowledgment from the users that have already registered (although we could add a one-time pop-up advising users to read the policy page).

I think it would be good to also add a link to the policy page on the create seminar page, since this is the first place where it is re

[2020-04-22 13:41] AndrewVSutherland commented on #193
Hmm, after reading about this a bit more I think perhaps we should add a checkbox or at least a sentence that says that by clicking the register button they confirm they have read and agree to our policies.  We should probably also add a link to the policy page to our login page so that users who registered before the policy page was posted notice it (we could force a one-time acknowledgment by th

[2020-04-22 13:51] AndrewVSutherland commented on #192
@rbommel We do not collect or store IP addresses.   Google analytics gives us geographic summary data, but this information is very broad and does not include IP addresses.

[2020-04-22 15:43] edgarcosta commented on #104
I've been trying to play the CSS game and I lost.
I will just write some javascript that loads the content and displays it, very similar to what @kedlaya did, but on the client-side.
I realized that the CGI route is not very beginner-friendly.

[2020-04-22 15:52] edgarcosta commented on #193
Should we have a column with the last time they acknowledged our policies?
If that time is before the most recent update, what do we do?

On Wed, 22 Apr 2020 at 09:42, Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-22 16:09] poonen commented on #192
@rbommel: I added a liability statement near the bottom.

[2020-04-22 16:13] poonen commented on #192
@rbommel: I removed "If the data is not public".

[2020-04-22 16:25] AndrewVSutherland commented on #193
@edgarcosta I like that idea; the more common approach  is to spam all your users with an email every time you update the policies, but we all know how annoying that is.  Ideally whenever we update the policies we would force every outstanding cookie to be treated as "expired" the next time the user visits the site so that they need to login again, and when they login note that the policies have b

[2020-04-22 17:08] roed314 commented on #192
Do we want to advertise viXra?  We place no constraint on the location of the preprint and are just giving arXiv as an example.  I feel like mentioning viXra is likely to encourage people to post talks about papers on viXra....

[2020-04-22 17:09] AndrewVSutherland commented on #192
I share @roed314 's concern.

[2020-04-22 17:13] poonen commented on #192
I was thinking that this would give cranks somewhere to go instead of our site.  Anyway, I don't have a strong feeling about this.

[2020-04-22 17:17] edgarcosta commented on #192
I have removed vixra.

On Wed, Apr 22, 2020 at 1:14 PM Bjorn Poonen <notifications@github.com>
wrote:

[2020-04-22 17:21] edgarcosta commented on #193
The only way I know how to invalidate session cookies is to change our secret key for the flask app.
Which means that everyone would get logged out.

[2020-04-22 17:25] poonen commented on #193
I don't think we should require users to log in again every time we change the policies.  This would be annoying.  I think requiring them to check a box the first time they register is enough.  After that, the policy pages are always available to them.

[2020-04-22 17:36] edgarcosta commented on #193
If it is one time only, then I would prefer to spam all the users after we add that button, instead of writing some code to handle the people that never saw the button.

[2020-04-22 17:36] kedlaya commented on #104
CGI is a lot easier the second time you set it up. I went through most of the pain once already setting up https://kskedlaya.org/confs.cgi.

[2020-04-22 17:39] poonen commented on #193
Yes, after putting the checkbox on the register page, send a brief email to all registered users just saying that we have posted a policy page at http://...
(no need to mention the privacy policy separately, since the policy page now links to it)
and that going forward we expect users to respect the policies.

[2020-04-22 17:42] roed314 commented on #192
I also think we should change "Organizers and endorsed users must use their actual full name on this site" to "Organizers and endorsed users must provide either their legal name or their chosen professional name."  I think there are two problems with the current phrasing.  First, there's the issue of what "actual" means: there are some users who might have reason to use something other than their

[2020-04-22 17:44] edgarcosta commented on #104
I agree. However, not every server supports CGI, and if so one would need to convince them to change their file extension, permissions and etc...
and I would like the embeddable schedule to be as easy as copy-pasting a couple lines of code.

[2020-04-22 17:49] edgarcosta commented on #192
What about just professional name?
And what we do with accounts that are meta accounts for seminar
organization?

On Wed, Apr 22, 2020, 13:42 roed314 <notifications@github.com> wrote:

[2020-04-22 17:51] poonen commented on #193
Here is a proposed email:
----
Dear mathseminars.org users,

This is a one-time email to announce that we have posted policies for use of the site at
https://mathseminars.org/policies
and that going forward we expect users to respect these.  Any questions or concerns can be directed to
https://mathseminars.org/contact

Thank you,
The mathseminars.org administrators
----

[2020-04-22 17:55] poonen commented on #192
@roed314: I implemented this.  @edgarcosta: Those are good points that should be dealt with.

[2020-04-22 17:59] poonen commented on #192
Maybe we shouldn't allow meta accounts; i.e, only people can post.

[2020-04-22 18:03] AndrewVSutherland commented on #192
Perhaps we should say that anonymous posting by individuals or organizations is not permitted and then say that in addition to using a professional name we require either a homepage with contact information on it or their consent to publicly post their email address (we warn them this will happen when they add organizers to a seminar without a homepage but it would probably good to mention this on

[2020-04-22 18:16] AndrewVSutherland commented on #193
I think this is fine as long as we add a line to the policy page saying we reserve the right to update the policies in the future.  Some sites also tell their users it is their responsibility to check for updates but most just spam everyone with an email every time they change a comma on their policy page.

One other thought: @edgarcosta rather than invalidating the cookie, could you just check a

[2020-04-22 18:19] edgarcosta commented on #193
There are no timestamps on cookies. There are only expiration dates.

On Wed, Apr 22, 2020 at 2:17 PM Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-22 18:30] AndrewVSutherland commented on #193
@edgarcosta You can store any string you want in a cookie as long as its short (and yes I know its not secure but for what we are talking about I don't think that matters).  This used to be very common back in the dark ages before everything moved server side (even things like the number of items in your shopping cart).

[2020-04-22 18:38] AndrewVSutherland commented on #193
@edgarcosta You can go visit http://math.mit.edu/~drew/test.html for an example -- it updates a cookie each time you visit and keeps count of how many times it has seen you.

[2020-04-22 19:20] edgarcosta commented on #193
Yes, we can do counters in cookies, but still doesn't address my main problem.
What we do with the current users?
Also, are we really going to annoy them everytime they switch browser or whatnot?

[2020-04-22 19:24] rbommel commented on #193
Yes, I agree, it makes more sense to store it on the server and not in a cookie.

[2020-04-22 20:39] AndrewVSutherland commented on #160
Fixed by @edgarcosta

[2020-04-22 20:39] #160 closed

[2020-04-22 20:44] AndrewVSutherland commented on #192
@poonen We added a bullet to user behavior indicating that user accounts should be associated to individuals.  If you are happy with this I think we can push this to live and close this issue.

[2020-04-22 21:09] roed314 commented on #192
Talking with @poonen now, and we can create more issues if necessary.

[2020-04-22 21:09] #192 closed

[2020-04-22 23:11] roed314 commented on #193
I think sending an email is a good idea, but let's hold off until we figure out what we're doing with the url so that we can include that info in the same message (especially since we'll need to be updating the policies to broaden beyond math).

[2020-04-23 00:22] poonen opened #198 "Seminar comments on edit talk page"
When I am editing a talk, I may have forgotten what is already in the seminar comments.

Therefore I suggest: At the Edit talk page,
1. Change the name of the Comments box to "Talk comments".
2. Immediately below it, print "Seminar comments" followed by the seminar comments displayed as an un-editable block of text.

Also, please someone check to make sure that we are not copying the seminar comme

[2020-04-23 00:26] AndrewVSutherland commented on #198
I will take care of this.

[2020-04-23 01:06] AndrewVSutherland commented on #198
PR #199 addresses this and should now be visible on master.

I confirmed that we are not copying seminar comments into talk comments any more.  There are many older talks with comments that duplicate seminar comments (we check for duplicates and only display once, so this will only be visible on the edit pages not the view pages).

We should take a pass through the database to remove talk comments

[2020-04-23 01:20] tornaria opened #200 "Preview of abstract doesn't break paragraphs"
Breaks *do* work in the talk page.

Steps to reproduce:

1. edit abstract for a talk
2. write some text including empty lines to indicate paragraph breaks
3. the preview shows the text as a single paragraph
4. after saving, in "view talk" we can see the paragraph breaks actually work.

[2020-04-23 01:28] AndrewVSutherland commented on #200
Confirmed, this is a bug in how the abstract is being rendered in the preview.

[2020-04-23 01:33] poonen opened #201 "Anywhere search"
I think it would be more useful if on the Search page, "Keywords" were replaced by "Anywhere" and the page really searched all displayable fields, including speaker, title, abstract, organizers, institution, etc.

I can't think of a common situation where one would want to see, say, talks whose abstract contains a name, while excluding talks whose speaker has that name.  In other words, I think it

[2020-04-23 01:53] poonen opened #202 "Duplicate name in public users"
There are two users named Mingchen Xia
at https://mathseminars.org/user/public/

[2020-04-23 01:56] edgarcosta commented on #202
Mingchen Xia has two accounts with two different email addresses.

The same thing for me, as you will see me there twice.

[2020-04-23 02:38] poonen opened #203 "Manage subtab order"
The current order is

Seminars
Edit schedule
Edit seminar
View seminar
View talk
Edit talk

Look at the last four.  I think it would make sense to interchange the last two.

[2020-04-23 03:15] poonen opened #204 "Talk is listed with two equivalent timezones"
See
https://mathseminars.org/talk/STAGE/4/

The talk is listed as having two time zones.  The talk time zone should override the seminar time zone when they differ.

[2020-04-23 03:27] poonen commented on #202
OK, I guess we permit this.

[2020-04-23 03:27] #202 closed

[2020-04-23 10:03] AndrewVSutherland commented on #202
I think we have to permit the same name to show up with different emails (they might actually be two different people), but each user should ideally have only one account on our site, possibly with more than one email associated to it if we want to support this.  This isn't crucial right now (so should be low priority) but it may become important later.  arXiv only allows users to have one account

[2020-04-23 10:22] AndrewVSutherland commented on #201
I agree, and I also think we should be able to search by organizer name, external URL, and seminar identifier, see issue #23.  Having a separate input for these would be silly.  I'm going to close #23 and include that feature request in this issue.

[2020-04-23 10:23] AndrewVSutherland commented on #23
Incorporated into #201

[2020-04-23 10:23] #23 closed

[2020-04-23 12:04] edgarcosta commented on #202
FYI, now that we have SU powers, I'm happy to delete my account.

On Thu, Apr 23, 2020 at 6:03 AM Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-23 12:16] AndrewVSutherland opened #208 "Handling users with multiple email addresses"
A user can create multiple accounts for themselves using different email addresses.  This is probably OK for the moment, but eventually we should think about whether we want to allow this and if so how to best handle it.

[2020-04-23 14:22] davidfarmer opened #209 "Explaining why the link is not shown"
On this page
    https://mathseminars.org/talk/FRNTD/1/
it says "To see access link, you must be endorsed by another user."
That is a useful and informative message.

In this page
    https://mathseminars.org/talk/WisconsinNTS/1/
There is no indication of a link to watch online.  But I am pretty sure I sure a link was
visible to me some times but not others.  I cannot reproduce the problem.
I also

[2020-04-23 14:58] AndrewVSutherland commented on #209
These are not software issues per se, they are issues with how the seminars are listed (we cannot prevent organizers/curators from saying that a seminar can be viewed online and then not give any information on how to do so).  In both cases the right thing to do is contact one of the listed contacts for the seminar, which you can find at:

https://mathseminars.org/seminar/FRNTD
https://mathseminar

[2020-04-23 15:04] AndrewVSutherland commented on #209
@davidfarmer see the closed issue #84 for what happened with the "online" filtering of talks.

[2020-04-23 15:36] #209 closed

[2020-04-23 15:39] AndrewVSutherland commented on #209
@davidfarmer You can see the updated talk page here:

https://master.mathseminars.org/talk/WisconsinNTS/1/

I'll push it to the live site shortly.

I also got in touch with the organizer Mark Shusterman and the livestream link is now listed, just click the "online" hyperlink to connect to the talk (in 4 hours).  This is already up on the live site.

[2020-04-23 17:57] kedlaya opened #212 "Customize text in "Email link to speaker""
When I click "email link to speaker" from a seminar listing, my email client opens up with a precomposed email. All well and good, but I'd like to be able to modify the template used to generate this precomposed email (for all talks in my seminar).

[2020-04-23 19:52] davidfarmer commented on #209
I guess I mistakenly assumed the form to submit a seminar had
a field for the link to the online broadcast, so there is no
issue of the organizers asserting whether there is a broadcast.

I saw that you were the contact person, but figured that was just
an artifact of the start-up process.

On Thu, 23 Apr 2020, Andrew Sutherland wrote:

[2020-04-23 20:05] AndrewVSutherland commented on #209
@davidfarmer There is a field for the livestream link, but we have to let organizers leave it blank (but still mark the seminar as online) because the link is often not posted until the day of the talk or even just 15 minutes before the talk starts.  The form tells organizers that in this case they should enter "see comments" in the livestream link field and explain how they make the link availabl

[2020-04-23 21:26] #203 closed

[2020-04-23 21:37] AndrewVSutherland commented on #204
@poonen I don't think there is a bug here (or at least it is doing what I think it is supposed to do, whether that is what it actually should do is a separate question).

If your time zone and the talk time zone are not exactly the same it shows both (even if the times are actually the same), one labelled "your time" and one labelled "talk time"  The seminar time zone is not relevant.  You can see

[2020-04-23 22:02] roed314 commented on #204
When I change my time zone I get
[code]
which is kind of annoying.  But if I change my time zone to South America, I think
[code]
is somewhat useful.  I don't see an easy way to distinguish these cases.

[2020-04-24 03:09] edgarcosta commented on #204
US/Eastern is indeed a deprecated time zone and links to America/New
York, thus we could avoid the confusing in this particular case.

However, America/Detroit
<https://en.wikipedia.org/w/index.php?title=America/Detroit&action=edit&redlink=1>
!= America/New_York
<https://en.wikipedia.org/w/index.php?title=America/New_York&action=edit&redlink=1>,
even though they are isomorphic.

On Thu, Apr 23, 20

[2020-04-24 03:37] poonen commented on #204
OK, I guess it's not a bug!  But still it looks weird.

My suggestion would be simply to print only the time in your time zone, not the time in the talk time zone.  I think I need the time in the talk time zone only when I am editing a talk or seminar.

[2020-04-24 03:55] roed314 commented on #204
I'm happy with only using the viewer's time zone, especially since we're explicitly stating that it's in "your time zone."  Another possibility would be to have a toggle where the user could click to switch between their time zone and the talk's time zone.  Then we'd never be displaying both at the same time.

[2020-04-24 03:56] poonen opened #216 "Seminar name is a link to where?"
When I click a seminar name like "STAGE", sometimes it takes me to the internal mathseminars.org page for the seminar, and sometimes it takes me to the external homepage.  On a talk page, both behaviors are present!  This is confusing.

I'd suggest making it always link to the internal page, and to use only "External homepage" to link to the external homepage.  This means that on the seminar page

[2020-04-24 04:00] poonen commented on #204
I'd recommending not including a toggle, since the point was to declutter the page.  I think the viewer's time zone should be enough here.

By the way, when on a seminar page I click a talk title, the gray box lists a time without specifying what time zone.

[2020-04-24 07:39] roed314 opened #217 "Reduce number of database calls"
For a non-endorsed user, we're currently making 21 database queries to load the browse page.  This isn't too bad on the production site, but it's pretty annoying when developing on localhost.

[2020-04-24 08:09] roed314 opened #218 "Removing unused columns from schemas"
We have a number of extraneous columns floating around that should get cleaned up (once we confirm again that they're not in use).  When we do delete them, we'll probably need to restart the webserver.

* In the `talks` table, `subject`, `visiblity`, `speakers`, `speaker_emails`, `speaker_affiliations`, `speaker_homepages`, `level`
* In the `seminars` table, `subject`, `archived`, `weekday`, `star

[2020-04-24 11:07] #198 closed

[2020-04-24 11:09] #193 closed

[2020-04-24 11:44] #170 closed

[2020-04-24 11:45] AndrewVSutherland commented on #216
PR #219 resolves this.

[2020-04-24 11:46] AndrewVSutherland commented on #204
PR #219 removes the talk time zone from the View talk page.

[2020-04-24 11:46] #204 closed

[2020-04-24 11:57] AndrewVSutherland commented on #218
Other schema changes I think we should make:

* In the `talks` table add a new column `stream_link` for view-only live feed (e.g. on YouTube)
* In the `seminar_organizers` table add `name` column to replace `full_name` (we use `name` everywhere else to mean full name, e.g. in the `users` table); once the code has been changed to use `name` drop the `full_name` column.

[2020-04-24 12:15] AndrewVSutherland opened #222 "Support talks with multiple speakers"
It is not that uncommon to have talks with two speakers (possibly more, but this is rare).  We would need to work out the details of the UI and schema changes that would be required, but I prescribe this here; the main point is that I think we need to support this (eventually).

[2020-04-24 12:23] AndrewVSutherland commented on #222
There are two possible ways to handle this in the schema; the "right" way is to add a `talk_speakers` table, comparable to `seminar_organizers`.  But given how infrequent it is, it might also be reasonable to just make `speaker`, `speaker_affiliation`, `speaker_homepage`, and `speaker_email` arrays.  We want to be careful not to do anything that will slow down the loading of our front page and for

[2020-04-24 15:12] poonen commented on #216
I would fix this problem also at the edit schedule page (make the seminar name a link to the internal page).

I still think that on the seminar page itself, the seminar name should not be a link at all (behavior should be uniform), but the "External homepage" link should be moved to be immediately below it.

[2020-04-24 15:18] AndrewVSutherland commented on #216
@poonen Sure, I can do this.

[2020-04-24 15:41] AndrewVSutherland commented on #216
@poonen I've implemented the changes you requested which should now be up on master.  All links on the seminar name should lead to the View Seminar page and on the View seminar page the name should not have a link.  The external homepage link is available on both the View seminar pages and the Edit schedule pages, but with one difference -- on the Edit schedule page the External homepage link open

[2020-04-24 15:57] poonen commented on #216
Thank you!  Also on the "View seminar" page, I'd move the "External homepage" link up, immediately below the seminar name.

[2020-04-24 16:15] AndrewVSutherland commented on #216
Done.  There is still a bit more space than I like between the seminar name and the external link, but this is standard for an HTML h1 header.  Let me know if you want me to restyle it to tighten the spacing a bit.

[2020-04-24 16:31] poonen commented on #216
Yes, it would be better to have space under "External homepage" rather than above it, if this is not too painful to accomplish.

[2020-04-24 16:39] poonen opened #225 "Limit how many people someone can endorse per day?"
Should we put an upper bound on the number of email addresses an endorsed user can endorse per day?  The question is whether this would help keep the R_0 down, in case the site gets infected by one rogue endorsed user.

[2020-04-24 17:16] AndrewVSutherland commented on #225
This seems like a good idea to me.  Maybe 3 endorsements per day?

[2020-04-24 17:35] rbommel commented on #225
If we are afraid of spambots taking over, then we should also put some time lock maybe. Only allow one to endorse others after being endorsed <some time unit> yourself.

[2020-04-24 17:42] poonen commented on #225
@AndrewVSutherland: I was thinking of a number more than 3, maybe something like 10 per day. Or maybe the number could start small and increase 24 hours after the user creates the user's first seminar or institution (since we won't really know whether the user is a reasonable one until after we see what content the user produces).

[2020-04-24 18:07] AndrewVSutherland commented on #225
@rbommel This is already the case, only endorsed users can endorse others.

@poonen I like the idea of increasing it once the start adding content.

[2020-04-24 18:09] rbommel commented on #225
@AndrewVSutherland Yes, but the problem is that this limit of 3 per day only makes sense if there is also a time lock for newly endorsed users. Otherwise, I can just endorse 3 copies of myself, endorsing 9 other copies of myself, and we still have exponential growth.

[2020-04-24 18:16] AndrewVSutherland commented on #225
@rbommel Ah, now I understand your concern.  We could add a time lag for endorsements to take effect, or maybe only allow one endorsement prior to creating content.

[2020-04-24 18:28] AndrewVSutherland commented on #216
@poonen Done, I think the spacing is better now.

[2020-04-24 19:05] #216 closed

[2020-04-24 19:48] AndrewVSutherland commented on #218
OK, we have added `stream_link` to `talks` and `name` to `seminar_organizers`.

[2020-04-24 19:50] rbommel commented on #208
What would be the problem?

[2020-04-24 19:56] AndrewVSutherland commented on #218
Depending on what we decide, we may later want to drop `speakers`, `speaker_emails`, `speaker_homepages`, and `speaker_affiliations` from `talks`; just so we don't forget.

[2020-04-24 22:14] AndrewVSutherland opened #240 "Saving talk with no changes updates the database"
Clicking the save button when editing a talk is now creating a new version even when no changes are made.  The code to check whether the new version matches the old version used to work but for some reason is no longer working correctly.

As I write this the behavior on master and live differ (on live only the first save incorrectly updates the database, on master every save does).  But this will

[2020-04-24 23:22] poonen commented on #132
1. Would it possible to shift each arrow upward by half a row, and to make it a bidirectional arrow, to indicate transposition of the two rows?  If that's too hard to do, it's OK to leave as is.

2. I find it quite annoying that each time I click one of these arrows, I am taken to the top of the page and have to scroll down before I can click another arrow.  If there were some way to keep the page

[2020-04-25 01:06] AndrewVSutherland commented on #132
@poonen I think I was able to achieve both 1 and 2 (at least in my browser), but take a look on master and let me know what you think.

[2020-04-25 01:51] poonen commented on #132
It looks great to me!

[2020-04-25 01:51] #132 closed

[2020-04-25 02:50] edgarcosta commented on #104
@tornaria, here is a different approach with java script.
[code]
I need to add styling file, so the table doesn't look so bad, but what do you think about it?

[2020-04-25 03:29] edgarcosta commented on #104
@duetosymmetry, this is the issue that I was talking about.
The JS is all in `seminars/templates/seminar_raw.js`

[2020-04-25 04:19] duetosymmetry commented on #104
@edgarcosta I guess I'm supposed to be looking at branch `newcalendar`?

Can you explain why you prefer a JS solution to using an iframe? I just feel like the pure JS approach ends up repeating a bunch of code.

BTW instead of passing parameters to the JS via DOM attributes, which JS then has to parse, a simpler approach is to precede the main script with a short snippet which just sets JS variabl

[2020-04-25 15:31] edgarcosta commented on #104
@duetosymmetry, it's already on master.

I agree I repeated a bunch of code.
The iframe has some issues:
- the size doesn't adjust accordingly when we show an abstract or more
- you get the cookie popup
- user's can't style their own table

The JS solution creates a table on their website, so they can style it themselves, and content height will fit accordingly.

[2020-04-25 15:32] edgarcosta commented on #104
Regarding, the arguments, you are most likely right, but having the arguments in DOM, allows users to have different arguments in different places.

[2020-04-25 15:33] edgarcosta commented on #225
I think if we manage captcha, the registration page, we should be able to
limit the rate.

On Fri, Apr 24, 2020 at 2:17 PM Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-25 16:46] jamiesully opened #254 "Add topics to favourites"
It might be useful to allow users to favourite topics so they are automatically exported to their personal calendar.

[2020-04-25 16:49] jamiesully opened #255 "Add 'verified' user type"
I wonder if it would be useful to have a type of 'verified' user that doesn't require them to seek out endorsement, as the vast majority of users won't need to post seminars.

For example, they would have to satisfy some set of criteria like
1) Verified Email
2) ORCID authentication

This might be a useful middle-ground on which seminar organizers could choose to restrict access to the live-stream

[2020-04-25 16:51] jamiesully opened #256 "Add future/past tabs to browse"
It might be useful to have the main browse view be tabbed with future (default) / past tabs.

The use case would be users coming to the site to see recently completed seminars in a topic they care about and look for recordings.

[2020-04-25 17:28] AndrewVSutherland commented on #240
I'm marking this as a bug simply because the code is not doing what it is meant to do; the bug is harmless and does not impact users.

[2020-04-25 18:07] jamiesully opened #257 "Topics browse tab default"
When reloading the site, the topics browse tab always loads with math selected.

It may be useful to load with one of the user's default subjects open or store the last open topic tab in a cookie.

[2020-04-25 18:31] jamiesully commented on #255
Another option is to have a field for an alternate academic email address that can be verified. There are APIs available to check academic domains.

[2020-04-25 18:41] jamiesully opened #258 "Display topics on talk/seminar description"
It would be useful to explicitly show users a list of the topics that have been tagged for a seminar series or individual talk.

[2020-04-25 18:47] duetosymmetry commented on #104
@edgarcosta the special embedding URLs could avoid setting cookies and thus not need to show the cookie popup (I think Google Calendar's embed pages do this).

If you are going to use javascript in this solution, it could be simpler to make the job of the javascript code to size the iframe appropriately.

Alternately, if javascript is going to fetch something and add it to the page, it could fetch

[2020-04-25 18:59] edgarcosta commented on #104
We can talk tomorrow or Monday. I won't work on this today.

On Sat, Apr 25, 2020, 14:47 Leo C. Stein <notifications@github.com> wrote:

[2020-04-26 00:17] MaxAVF commented on #11
@edgarcosta Having  a json file (json, xml, whatever) with the info of all the talks, so I dont thave to search though all the pages to collect small json files.

[2020-04-26 07:23] roed314 commented on #258
Show where?  I think they're currently only shown on a seminar homepage; they should definitely also be shown on a talk homepage.  Would you also like to see them on the knowl popup?  Other places?

[2020-04-26 13:13] AndrewVSutherland opened #261 "Talks not in chronological order on Edit schedule page"
If you look at https://mathseminars.org/edit/schedule/?shortname=TheTest you will see that the two talks on April 29 are out of order on the schedule, even though they are shown in the correct order on the view seminar page.

To reproduce create two talks on the same day in chronological order, then change the times to reverse the order.

[2020-04-26 16:36] jamiesully commented on #258
At the moment I don't see them displaying anywhere.

I think some natural places for them to appear are: the seminar page, the talk page, and the talk pop-up on browse.

[2020-04-26 17:37] roed314 commented on #261
Fixed on master.

[2020-04-26 17:37] #261 closed

[2020-04-26 17:41] AndrewVSutherland commented on #261
@roed314 Great, I'll respond to the user who reported this once we push to live.

[2020-04-27 01:03] poonen opened #267 "Proposal for filter behavior on Browse page"
(This came out of a discussion with Drew and Edgar (and David for part of the time).)

When someone visits the site for the first time,
no subjects are selected, no topics are selected,
and no languages are selected,
but none of the filter toggles are set,
so all talks are being displayed.

Clicking on the word "topics" opens the topic menu AND sets the toggle.
This means that for the moment, all

[2020-04-27 07:49] roed314 commented on #267
I've implemented this in #270.  I'm not going to merge it tonight since I'm about to sleep, but if it looks good @AndrewVSutherland  or @edgarcosta can merge it in the morning (I tested it some, but it should probably be tested after clearing cookies).

[2020-04-27 07:51] roed314 opened #271 "Port cookies from mathseminars.org to researchseminars.org"
I realized tonight that my mechanism for porting cookies during a redirect from mathseminars.org to researchseminars.org won't work, since they'll be on a different domain.  We should try to come up with a good way of doing this so that users topic and language filters aren't erased.

[2020-04-27 10:42] AndrewVSutherland commented on #271
@roed314 I believe we came to the conclusion after yesterday's discussions that it would be better to simply not port the cookies.  Having users initially see all subjects (and a notation indicating that they currently have no filters set) will both make them aware of the new content that is available and familiarize them with the new subject/topic selection interface.

Anyone who uses multiple de

[2020-04-27 10:42] #271 closed

[2020-04-27 12:42] rbommel opened #272 "Feature request: show me which talks are new since my last visit"
Now I have been using MathSeminars for quite a while, but the number of talks in my interest area is slowly getting out of control. Every time I come to check if there are some other interesting things I want to see, I have to browse through a very long list.

Therefore, I have the following feature request: I'd like to somehow see which talks are new (or modified maybe) since I last visited the w

[2020-04-27 16:33] poonen opened #273 "Proposal for terminology"
Here is one possibility for the terminology used on the site, hopefully compatible with both math and physics usage:

Talk: an individual lecture (e.g., one hour long)
Conference: an event lasting a few days, typically with several talks per day
Seminar series: a recurring meeting (e.g., one talk each Wednesday at 14:00)
Series: either a conference or seminar series.

Every talk must be part of a

[2020-04-27 17:18] roed314 commented on #272
I like this idea.  Another possible interface possibility would be to have another filter for talks that have been added/updated since the last visit.

[2020-04-27 17:37] edgarcosta opened #274 "Add knowl to "Filter by" in browse page"

[2020-04-28 04:36] roed314 commented on #258
Resolved by #283 (now on master).

[2020-04-28 04:36] #258 closed

[2020-04-28 08:09] roed314 commented on #201
We now search talks on title, abstract, speaker, speaker_affiliation, seminar_id, comments, speaker_homepage, paper_link; series on name, description, homepage, shortname, comments.  Seminar organizers is hard since they live in a different table and we don't have joins easily available.  Institutions is doable but annoying since they're in a list rather than a text field.

[2020-04-28 13:21] scratchmex commented on #46
I can help with the project in general. I have python experience in flask and backend.

[2020-04-28 17:05] poonen opened #289 "Search page does not list series with talks happening now first"
On the Search page, series are ordered by next talk.  These should start with series that have a talk happening right now.

[2020-04-28 17:13] poonen opened #290 "Headers"
Bug: The search page says "Search series" even when one is searching for talks.

On the Create/Manage page, the subtab "Seminars" should be "Series".

On the FAQ page, can we change the header to "Frequently asked questions" (but leave the tab the same)?

On the Contact page, make the header "Contact and feedback" to conform with capitalization elsewhere, or just make it "Contact".

[2020-04-28 19:40] roed314 commented on #289
I can do this.  I'm curious what your "invalid" label indicates though.  I think the standard meaning when applied to issues is that "this is not actually a problem with the software and should be closed."

[2020-04-28 19:52] edgarcosta commented on #290
I have addressed all these issues.

On Tue, Apr 28, 2020 at 1:14 PM Bjorn Poonen <notifications@github.com>
wrote:

[2020-04-28 20:08] poonen commented on #289
The description of the "invalid" tag says "This doesn't seem right".
I am saying that the current behavior of the site doesn't seem right.

At first I used "bug", but I wasn't sure if "bug" was the correct label, because perhaps the site was behaving exactly as you had intended even though I thought it should behave differently!

[2020-04-28 20:16] edgarcosta opened #293 "Make series links to be knowls when listing talks."

[2020-04-28 21:48] #290 closed

[2020-04-28 21:56] #289 closed

[2020-04-28 22:21] edgarcosta commented on #200
It has been resolved, and it will make it to the official website tonight

[2020-04-28 22:21] #200 closed

[2020-04-28 22:23] poonen commented on #289
I edited the descriptive text of the "invalid" tag, to conform with your interpretation of it.

[2020-04-28 22:40] roed314 opened #298 "Levels for talks and seminars"
We're starting to get talks at various different levels (research seminars, grad student learning seminars, undergrad seminars, etc).  It would be good for organizers to be able to set these levels and then have filters on the browse page.

[2020-04-28 22:44] roed314 opened #299 "Add ability to search on seminar organizers"
It would be nice to search seminars based on the organizer.   This is more difficult to implement since they're stored in a separate table.

[2020-04-28 22:45] roed314 commented on #201
Good enough for now; we'll create follow up issues (e.g. #299).

[2020-04-28 22:45] #201 closed

[2020-04-28 22:59] poonen opened #300 "More headers"
"Edit seminar properties" needs to be "Edit series properties".
"View seminar" tab needs to be "View series".

[2020-04-28 23:40] AndrewVSutherland commented on #300
This is now fixed on master.

[2020-04-28 23:40] AndrewVSutherland commented on #300
whoops missed one

[2020-04-28 23:52] AndrewVSutherland commented on #300
Sorry for the confusion, we were previously showing

"Edit conference properties" or "Edit seminar properties"

but always showing "View seminar" (never "View conference") which was inconsistent (independent of the switch from seminar to seminar series.

I have changed it so it is now always "Edit series" and "View series", whether is is a conference or not.

We could replace series with "conferen

[2020-04-29 00:33] poonen commented on #300
Your solution is simplest.  In fact, I think that in general it makes sense to downplay the difference between conference and seminar series.

[2020-04-29 00:33] #300 closed

[2020-04-29 01:52] duetosymmetry commented on #104
@edgarcosta I started working on overhauling this to simplify it, [here](https://github.com/duetosymmetry/seminars/commit/9b7e01f46c03ce95801d1adab913d06326307189). For KaTeX, it will be straightforward to (1) detect if KaTeX is already present on the embedding page, (2) insert script and link tags for it if needed. For the `knowl="dynamic_show"` handling, though, I think we should break out that

[2020-04-29 03:55] edgarcosta commented on #104
@duetosymmetry, this looks very promising and much better than the spaghetti code that I wrote.

I have just submitted a PR to LMFDB to fix their knowl code, once they merge it, we can just load `lmfdb.js` with `{{ url_for('static', filename='lmfdb.js', _external=True, _scheme=scheme) }}`

I agree with you, at the moment, we use very little of `lmfdb.js`, and even the knowl code can be simplified

[2020-04-29 05:29] poonen commented on #274
I think I succeeded in adding this knowl to master, but I have a few questions:

1) Why do the filters themselves shift right when this knowl is opened?

2) Can the underlines inside the knowl be made dotted underlines, to look like the words they are referring to?

3) Can we <i>right</i> justify the last sentence of the knowl?  I want to distinguish it from the main text of the knowl.

4) How can

[2020-04-29 13:51] AndrewVSutherland opened #305 "New seminars on mathseminars.org are not visible in browse or search"
As of yesterday, if you create a new seminar on mathseminars.org by default it will be saved with subjects set to the empty list, which means that it will not be visible on mathseminars.org, nor will any of the talks in it (it will be visible on researchseminars.org).

This is a serious bug.

[2020-04-29 13:58] AndrewVSutherland commented on #305
There are several recently created math seminars impacted by this, including https://mathseminars.org/seminar/AppliedAlgebra

[2020-04-29 14:20] edgarcosta commented on #305
This is the list of shortnames of seminars with no subject (I will
start adding subjects from the top):
{'AnalysisUR',
 'AppliedAlgebra',
 'BHIColloq',
 'Holography_AdSCFT',
 'MC-NITOC',
 'SC3',
 'SCGP_Physics',
 'Test123',
 'Test456',
 'TheTest',
 'moduli'}

On Wed, Apr 29, 2020 at 9:58 AM Andrew Sutherland <notifications@github.com>
wrote:

[2020-04-29 14:25] AndrewVSutherland commented on #305
I think it also impacts talks.  But I don't understand why

https://researchseminars.org/talk/AppliedAlgebra/8/

does not appear on mathseminars.org (but does on researchseminars.org) I already set subjects=['math'] for every record associated to this talk and to the semianr AppliedAlgebra.

[2020-04-29 14:35] AndrewVSutherland commented on #305
Hmm, the talk https://researchseminars.org/talk/AppliedAlgebra/8/ is visible now, maybe just a caching issue.  The fix on master seems to work -- whenever a seminar or talk is created or edited on mathseminars.org if it has not subjects set it will be set to ['math']  I'm going to push to live.

[2020-04-29 14:40] AndrewVSutherland commented on #305
OK, the code fix is now on live and I just verified that newly created seminars and talks with no topic/subject set are visible.

@edgarcosta I think you can close this once you are satisfied all the data updates have been made.

[2020-04-29 15:39] edgarcosta opened #310 "Topics set for the first time"
If one edits a series and adds topics for the first time, we should pass those along to the talks of that series that also have no topics set.
Or at least have a mechanism to do do that.

[2020-04-29 15:41] edgarcosta opened #311 "Subject should be independent of topics"
Picking the subject should restrict your topic options on the multi-select, but we shouldn't depend on the topic to be select to deduce the subject.

If we don't want to go this path, then we need to require at least one topic to be selected at creation, but that is quite odd, for something like a colloquium series.

[2020-04-29 15:54] poonen commented on #310
Would there be room on the "Edit series" page, to the right of the topics entry box, for a checkbox with text to its right saying "Overwrite topics of future talks"?

The checkbox would be unchecked by default, but if a user checked it, and edited the series' topics, and clicked "Save", then the topics would transfer to all future talks.
This is slightly different from what you are suggesting in t

[2020-04-29 15:56] poonen commented on #311
@edgarcosta: What page are you talking about?

[2020-04-29 16:00] poonen opened #312 "ORCID, MR Author ID, etc."
We are now planning to allow users to add not only ORCID, but other IDs that may be subject-specific, such as the MR Author ID in mathematics.

Here is a proposed user interface specification:

On the "Account" page, just above the "Update details" button, there will be a (not directly editable) table containing something like [ignore the periods]
...... IDs: MR Author 256256
...............ORCID

[2020-04-29 16:02] poonen opened #313 "Times of current talks on browse page"
As we discussed, on the Browse page it would be nice to show the times like 11:00 in bold for talks that happening right now.

[2020-04-29 16:16] #305 closed

[2020-04-29 16:24] edgarcosta commented on #311
At the moment the subject of a talk/series is deduced from the topics field.
This has to lead to some hiccups discovered this morning when no topic was selected.

Thus we either allow users to specify a subject, perhaps set by default from your user settings, or we need to require at least one topic.

[2020-04-29 16:49] AndrewVSutherland commented on #311
We could require either a non-empty list of topics or a subject (we don't need to allow both, each time they pick a topic they are also picking a subject).  I think its reasonable to insist that every series and talk should have at least one subject associated to it (otherwise they risk becoming invisible, as happened this morning).

[2020-04-29 17:29] poonen commented on #311
Yes, I agree that each series and talk should be required to have at least one subject.

[2020-04-29 17:29] roed314 commented on #311
Currently there's no way for them to directly set the subject.  We had avoided adding such a mechanism since it was redundant with topics.  Should we just add a subject selector directly above the topic one?  I worry about the behavior there being confusing, especially since it's only relevant if no topics are selected.

Another possibility would be to have "Math - no topic" and "Physics - no topi

[2020-04-29 19:44] duetosymmetry commented on #104
I've got code to make embed-code and copy-to-clipboard [here](https://github.com/duetosymmetry/seminars/commit/dcb364a4fb3c976c4e43119de8686c0e5c416cf7). Almost feature complete, 1 issue to work out on the server side, and then getting the dynamic_show knowl code onto the client page.

[2020-04-29 19:56] edgarcosta commented on #104
For the time being, one can just include: https://researchseminars.org/lmfdb.js

[2020-04-29 20:21] edgarcosta commented on #104
I have also just updated the submodule commit to point to the new lmfdb.js

[2020-04-29 20:57] duetosymmetry commented on #104
But `lmfdb.js` relies on jquery, right? I was trying to avoid having this dependency.

[2020-04-29 21:00] edgarcosta commented on #104
Yes! One solution is to rewrite it without jquery, and then we can almost purge `lmfdb.js`

[2020-04-29 23:01] poonen commented on #311
We agreed that users creating a series would on the initial create page be required to enter at least one subject.

Then on the "Edit series" page, the series' current subjects would determine what topic options are available in the topics menu.  There would also be an option there to edit the subjects (this will be used only rarely), but then the user would be asked to reload the page so that the

[2020-04-29 23:05] poonen commented on #311
What is the reason for imposing a maximum number of subjects and topics for a series?
Is it because of the implementation or because we think it is wrong to have more than that?
To me, 2 subjects seems too small an upper bound, and 6 topics also seems too small to me.

I would not impose a maximum on the number of subjects, at least not in the near future during which the number of subjects is sma

[2020-04-29 23:43] roed314 commented on #311
There is no technical need to limit the number of subjects or topics.  The main motivation for doing so is to prevent people from trying to spam everyone by including lots of topics.  But maybe we should just wait to see if that actually becomes a problem before imposing a limit.

[2020-04-29 23:49] poonen commented on #311
@roed314: OK, that sounds like a good plan.

[2020-04-30 01:30] #273 closed

[2020-04-30 01:40] poonen opened #317 "Knowl for unsaved talk on browse page"
On the Browse page, if I open the knowl for an unsaved talk (i.e., not a favorited talk), and then set the filter to show only saved talks, the talk row disappears, but the knowl remains with no way to close it (other than unsetting the filter).

I think that what should happen is that the knowl should remain open but hidden, redisplayed if the filter is unset.

[2020-04-30 11:16] AndrewVSutherland opened #318 "Institution match not detected on manage page"
On the Manage page many users are currently seeing the warning:

"Your affiliation does not appear to be on our list of institutions. You may want to add your institution before creating a series. Alternatively, you can create a series now and add an institution to it later."

This often occurs even when the institution is in our list, in fact I cannot find any affiliation other than MIT that does

[2020-04-30 11:17] AndrewVSutherland commented on #318
The problem is that institution_known is not actually checking the name of the institution, only the shortname and aliases.  I will fix this.

[2020-04-30 11:23] #318 closed

[2020-04-30 11:56] AndrewVSutherland opened #322 "Put create series below existing series on Manage page?"
One user has suggested that we should put the Create series section of the Manage page below the list of existing series the user is managing, arguing that managing existing series is a much more common reason to go to this page than creating a new one.  For users who have not yet created any series, the page would still look the same.

My main worry about this is that once a user has create a lot

[2020-04-30 12:00] AndrewVSutherland opened #323 "Add a date picker to all date input fields"
To make it easier to enter dates we might want to consider using a date picker such as
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date that would allow a user to pick the date from a calendar if they wish.  We should still allow direct text input, but for mobile and tablet users clicking a box on a calendar is a lot easier than typing in  a date.

[2020-04-30 13:22] edgarcosta commented on #323
So replace the current date picker with two input boxes?

[2020-04-30 13:26] AndrewVSutherland commented on #323
Hmm, maybe, but I wasn't actually thinking about the date range in the search, the user who suggested this was referring to the edit schedule pages where all the date inputs are single dates.  I think this is the main place where people are typing lots of dates.

[2020-04-30 13:28] AndrewVSutherland commented on #323
@edgarcosta Actually I think the current date range picker we have on the search page is fine I wouldn't change it, I'm really referring to all the other places where people enter dates.

[2020-04-30 13:39] edgarcosta commented on #322
However, at that point, he also knows where to go, and most of our users will manage only a couple of seminars.

[2020-04-30 14:29] AndrewVSutherland opened #324 "Access to talk knowl on Edit talk page"
It would be nice to have  a link that lets you preview the talk knowl while on the Edit talk page, perhaps linked to the word "talk" at the top, or to the title of the talk.

Also, should the talk title appear in the talk knowl?

[2020-04-30 14:36] edgarcosta commented on #324
#297 addresses your last comment

[2020-04-30 14:42] edgarcosta opened #325 "Keep input data if given an error when creating a series"
At the moment, if one tries to create a series and it triggers some error, like no subject or invalid shortname, the user loses all of its input data.

[2020-04-30 14:46] AndrewVSutherland commented on #325
We should handle input errors here as we do in the edit talk/seminar/institution pages using show_input_errors (which takes them to inputerror.html where error messages appear along with a message telling them to press the back button and correct the errors).

[2020-04-30 15:00] AndrewVSutherland commented on #324
@edgarcosta Yeah but #297 still has a big red button in it :)

We should also add talk knowl links on the edit schedule page (maybe next the details link).  When you are making updates to a seminar often you are just adding titles and abstracts that were TBA and the only thing you really want to know is whether the abstract is already present or not -- it would be nice to be able to do this withou

[2020-04-30 15:15] edgarcosta commented on #324
Yes, #297 needs some touch ups, but just saying that we already got a better knowl on its way :)

[2020-04-30 16:41] edgarcosta commented on #325
Yes, that sounds good.
I have incorporated those changes in a new upcoming PR.

[2020-04-30 16:41] #325 closed

[2020-04-30 19:31] roed314 opened #327 "Improve access control for livestreams"
Currently we have an access dropdown with options "Open", "Logged-in users", "Endorsed users."  We ask people to put the zoom password in the comments field, but we have no way of checking if they've done so.  Some events require registration in advance.

This issue is for collecting ideas for improving the situation so that organizers don't worry about being Zoombombed and users can easily access

[2020-04-30 19:33] roed314 commented on #327
One idea: add a new field for a "password hint."  We could give examples like "the order of the symmetric group on 5 letters" or "the most common element in the universe."  If present, this field would be shown directly below the livestream link.   We could also have "registration required" be treated specially.

[2020-04-30 19:47] AndrewVSutherland commented on #327
I like the idea of a password hint, and even suggestions for it, since this is pretty widely used -- it basically amounts to a captcha (which is something we could also offer).

There are different types of registration worth distinguishing:
- Meetings that require registering for the (possibly recurring) meeting on Zoom
- Series that require you to fill out a registration form on the external web

[2020-04-30 20:55] roed314 commented on #311
Resolved by #326

[2020-04-30 20:55] #311 closed

[2020-04-30 22:07] kedlaya commented on #11
One more field I just realized I want: link to the speaker's slides.

[2020-04-30 22:41] AndrewVSutherland commented on #11
@kedlaya In addition to the slides_link column, there is a paper_link and a video_link (for the recorded video not the livestream), which you might conceivable want.  You can see all three on

https://mathseminars.org/talk/vantage/8/

for example.

[2020-04-30 22:49] roed314 commented on #11
I am working on this as part of #96.

[2020-05-01 01:06] poonen commented on #322
I think that putting the Create series below the existing series makes sense, though I do not have a strong feeling about it.

[2020-05-01 11:32] AndrewVSutherland commented on #298
I think we should have a dropdown list for "type of seminar series" that would include colloquium, research seminar, learning seminar, undergraduate seminar, etc. and use this to replace the short description which is sometimes used for this and other times used to repeat the seminar name (and other times used for something completely different), leading to a rather jumbled looking seminar search

[2020-05-01 11:37] edgarcosta commented on #298
I think @AndrewVSutherland is on the right track.

[2020-05-01 11:43] AndrewVSutherland opened #331 "Automated help with capitalization"
Our instructions that series names and talk titles should only capitalize the first word and proper nouns is currently followed about 50 percent of the time (if you look at the browse page and see evidence to the contrary that is simply because I just edited a whole bunch of them).

There are now too many talks being added for us to consistently enforce our house style by hand. I'm also somewhat s

[2020-05-01 11:48] AndrewVSutherland commented on #298
Another advantage of doing this is that it would free up some space on the seminar search page that would allow us to show other information, such as whether it is a conference or seminar series and its periodicity (weekly, bi-weekly, monthly, ....).  In some cases the periodicity is included in the short description, but usually not.

[2020-05-01 11:56] edgarcosta commented on #331
We could also just alert them if a high percentage of the words is
capitalized.
We can tune up the threshold by looking at the current database.
Obviously we can make this much more fancy, but transparency also might
help, and  this would generalize across fields.

On Fri, May 1, 2020, 07:43 Andrew Sutherland <notifications@github.com>
wrote:

[2020-05-01 12:30] AndrewVSutherland commented on #331
We might be able to use a spell checker to help with this -- highlight capitalized words that are not the first word that the spell checker knows and auto-suggest making it lower case.

I think we need to find a way to make it painless for organizers to cut-and-paste titles, and we should expect that half of them are going to have capitalization issues (this would be true whether we use sentence c

[2020-05-01 12:51] edgarcosta commented on #331
Spell checking depends on the language, and it is really hard to figure out
proper nouns.

On Fri, May 1, 2020 at 8:30 AM Andrew Sutherland <notifications@github.com>
wrote:

[2020-05-01 12:59] AndrewVSutherland commented on #331
I was actually only suggesting identifying obviously non-proper nouns, and only for titles in English.

But conversion to sentence case is a well-studied NLP problem (often called truecasing) and there are a couple of open source packages that attempt to solve it (and you can even train them on different languages).  See

https://github.com/daltonfury42/truecase
https://github.com/despawnerer/true

[2020-05-01 13:36] edgarcosta commented on #331
The first package looks quite good.

On Fri, May 1, 2020 at 9:00 AM Andrew Sutherland <notifications@github.com>
wrote:

[2020-05-01 14:48] AndrewVSutherland commented on #331
I'm wondering if we should switch to title case for series names (but keep sentence case of talks).  Many of them have acronyms  "Waves in One World (WOW)" that look slightly silly in sentence case "Waves in one world (WOW)".  It is also quite common to us title case for seminars/conferences  and use sentence case for talk titles (e.g. https://math.mit.edu/nt/stage.html).  I think a pretty solid m

[2020-05-01 18:35] poonen opened #334 "Filter behavior"
On the Browse page, if the subject menu is open, clicking "subject" closes the subject menu currently.  Proposal:  At this moment, the system checks whether there are any selected subjects, and if there are none, the subject filter should be toggled off.

The "topic" and "language" words should work the same way.

[2020-05-01 18:38] poonen opened #335 "Topic menu should default to a selected subject"
Right now, on the Browse page, if physics is the only selected subject, and I open the topic menu, it defaults by showing the math topics, which makes no sense.

Suggestion:  When the topics menu is opened, the system should identify the alphabetically first selected subject (or choose the first subject if no subjects are selected).   The topic menu defaults to that subject's tab.

[2020-05-01 18:42] poonen opened #336 "Topic menu should mark which subjects are selected"
On the Browse page, in the topics menu, it would be nice if the tabs corresponding to the selected subjects looked different from the others.  Maybe distinguish them with a small check next to them, or a small asterisk, or different color or shading?

[2020-05-01 18:46] poonen commented on #331
I think we should stick to sentence case as the default, but not mandate it.  Title case is more of an American thing, I think.

[2020-05-01 20:24] roed314 opened #337 "Change seminar->series in urls, code and data"
We've mostly changed our terminology in the content of the site.  But there are still a lot of changes to be made in urls, function and variable names, and table and column names.

[2020-05-01 20:25] roed314 commented on #322
Resolved on master.

[2020-05-01 20:38] roed314 commented on #298
Here are the levels we came up with: research seminar, colloquium, learning seminar, advanced learning seminar, undergraduate seminar, general public.  Chime in if you can think of others.

[2020-05-01 20:41] poonen commented on #322
Nitpick: It's a little weird that there is more vertical white space below "Create new series" than above it.  "Create new series" should logically be more closely tied to the material below it.

Anyway, feel free to close this issue again.

[2020-05-01 21:30] roed314 commented on #327
Access models (any of these can use a password hint):
* Link public and constant
* Link public, changes for each talk (comments should include when it will be announced)
* Link shown to logged in users
* Registration required (we require organizer to include the link or email, should specify deadline in comments)

We might later choose to add Captcha as an option.
We are removing the "link shown t

[2020-05-01 23:44] duetosymmetry opened #338 "Feature request ICS export link from individual talks or series"
Will include a bit of code duplication from `main.py:ics_file`, but adding a route like `/talk/<semid>/<int:talkid>/ics` for an individual talk, and `/seminar/<shortname>/ics` for a seminar series. Can be linked within a talk knowl, or on a seminar's page.

Requested by Sam Lisi

[2020-05-02 00:11] duetosymmetry commented on #338
I have WIP on a [branch here](https://github.com/duetosymmetry/seminars/tree/add_ics_for_single_talks_seminars).

[2020-05-02 04:37] AndrewVSutherland opened #343 "Add accessibility information to talks and series"
We should add a column for accessibility information to both talks and series (talks would inherit the property from their series).  The most common option would be the availability of closed-captioned video recordings posted after the talk, but we should make it clear to organizers that machine generated captions (such as Zoom and YouTube create automatically) do not meet accessibility regulation

[2020-05-02 04:49] #338 closed

[2020-05-02 04:51] edgarcosta commented on #104
@tornaria, please check out our new emebedabble schedule at:

https://master.mathseminars.org/seminar/LATeN

I still need to create a minimal and generic css file, but please let me know if this makes sense.

[2020-05-02 04:55] edgarcosta commented on #240
I think we have addressed this bug.

On Sat, Apr 25, 2020 at 1:28 PM Andrew Sutherland <notifications@github.com>
wrote:

[2020-05-02 18:10] AndrewVSutherland opened #346 "Browse page showing unfiltered then filtered"
Currently if you have filtering when you go to the main browse page it briefly shows you everything then applies the filters.  This is distracting and surely slows things down (why are we even pulling all the future talks out of the database?)

[2020-05-02 18:16] poonen commented on #346
I see this too.

[2020-05-02 20:14] AndrewVSutherland commented on #22
PR #345 which is now live on master.  There are certainly further tweaks that could still be made (e.g. allowing the user to change the time slots for the series on the schedule page, or more options for periodicity, e.g. monthly), but the basic functionality is there.  You can now create seminar series that meet weekly, biweekly, triweekly with up to 12 distinct time slots --  these time slots al

[2020-05-02 20:14] #22 closed

[2020-05-02 21:18] tornaria commented on #104
This looks amazing. It took me 2 minutes to put it in my page (http://www.cmat.edu.uy/~tornaria/LATeN/embed/ for a test).

I found two quirks regarding links. When you open the knowl for a talk, the "view" link for the talk and the seminar link, are linked without hostname so they are broken. The calendar links seem to be ok.

A sugestion: maybe place a "powered by mathseminars.org" line at the bo

[2020-05-02 23:05] duetosymmetry commented on #104
@tornaria Thanks for reporting this, I have a bugfix. I've only tested it a little bit, I'd appreciate it if somebody else would look over my code, in PR #348

[2020-05-03 15:45] roed314 commented on #346
This is how the filtering mechanism works.  What do you want to happen?  Have everything hidden and then shown instead?

[2020-05-03 15:47] roed314 commented on #346
As for why we're pulling everything out of the database, we need to in order for all the filtering to be able to work dynamically.  We've discussed limiting the talks by how far in the future they are and/or fetching talks progressively as the page loads, but neither of those has been implemented.

[2020-05-03 15:52] AndrewVSutherland commented on #346
If the filters are on we should keep things hidden until after filtering -- if this avoids rendering calls (e.g. to katex) it will speed things up and the visual appearance will be smoother.

But I think we are going to want to eventually change the mechanism to force a refresh when filters are changed (maybe just do this for subject changes).

[2020-05-03 17:18] roed314 commented on #346
I like the idea of forcing a refresh on subject changes (eventually).  Maybe if no subjects are set we can limit the amount of time, and then if subjects are set we can just show those subjects.

[2020-05-03 18:33] edgarcosta commented on #346
I believe we just need to edit:
https://github.com/roed314/seminars/blob/master/seminars/templates/browse.html#L51
to add some `style="display: none;"` to the talks that would be filtered out at the end of the load.

[2020-05-03 19:13] roed314 commented on #104
I've merged the PR, so it should now be live on @tornaria's site.

I think the "powered by researchseminars.org" suggestion is interesting, if we give people the option to turn it off.  We already advertise a bit by the fact that the view talk link goes back to researchseminars.org.

[2020-05-03 19:55] duetosymmetry commented on #104
The optional footer is an easy addition, I can work on this right now.
BTW do you think we should allow further options at load time, e.g. whether or not to process katex and whether or not to process knowls?

[2020-05-03 20:37] duetosymmetry commented on #104
@roed314 Implemented in PR #353. @tornaria If this is merged in, you will be able to add the footer to a given embedded schedule by adding the `sitefooter` attribute to the `<div>` tag, e.g.
[code]

BTW @tornaria on your example page, you only need the `<script>` tag one time, not two.

[2020-05-03 22:29] poonen opened #354 "Private series not visible to organizer"
I created a conference Testable (on master) and set visibility to private, which I thought meant that organizers would see it in the Browse and Search pages.  But I am an organizer, and it does not show up for me.

[2020-05-03 22:51] poonen opened #355 "Declutter talk knowls"
In each talk knowl:

1) We could remove the word "Abstract" since in essentially all cases, it is obvious that the abstract is the abstract.

2) I think we could simplify
       Talk content
           * paper
           * slides
           * video
to
      (paper | slides | video)
which simplifies further to
      (slides | video)
      (slides)
or nothing at all, depending on how many items are

[2020-05-03 23:24] poonen opened #356 "Fixing typo in institution ID"
Is there some way that administrators can correct obvious typos in an institution ID (and notify the maintainer), or is this too painful to be worth the trouble?  I am looking at the ID "CollegeBridhe" that someone created for "College Bridge".

[2020-05-03 23:31] poonen opened #357 "Declutter view talk page"
On each "View talk" page:

1) The "Livestream access" box does not deserve to have its own line.  It should be moved to the right of the text "Mon May 4, 07:30-08:30 (starts in 12 hours)".

2) I think we could simplify

Talk content
   * paper
   * slides
   * video

to
(paper | slides | video)
which simplifies further to
(slides | video)
(slides)
or nothing at all, depending on how many items are

[2020-05-03 23:38] poonen commented on #343
In addition, we should make sure that our site itself is accessible to the extent possible.

[2020-05-03 23:43] poonen opened #358 "Institutions you maintain"
Under Manage, on the Institutions tab, add a new section called "Institutions you maintain" that functions in the same way as "Seminar series you organize".

I'd suggest putting this new section at the top (to mimic the behavior on the "Series" tab) and to move the sentence "If your institution is not listed below, you can add it so that series can be associated with it later." just below the head

[2020-05-03 23:54] AndrewVSutherland commented on #343
@poonen Agreed, but it probably makes sense to create a separate issue for this as the code changes involved (e.g. making the site better suited to screen readers) are really orthogonal to the changes contemplated here.

[2020-05-03 23:58] AndrewVSutherland opened #362 "Improve the accessibility of our site"
We should make whatever changes we can to make our site more accessible, e.g. to facilitate screen readers, deal with any contrast or font-sizing issues, etc...  It would be great if people could comment on specific changes they think should be made, as this issue is very vague as it stands.

It probably makes sense to address issue #25 first, since some of the changes needed to make the site more

[2020-05-04 00:02] AndrewVSutherland commented on #357
I agree, in fact I don't understand why this was changed, I liked the ( paper | slides | video ) presentation we had before, and I don't think the phrase "Talk content" is necessary.

[2020-05-04 00:11] poonen commented on #357
I'd forgotten that that's how we had it before; maybe I was advocating the other way earlier!  I guess the argument in favor of the text "Talk content" is to give the page some structure instead of having it be a long list of lines, each with its own thing.  But in this case, I think it is already set off from the other items in the current layout with the <hr>s and the dark topics.

[2020-05-04 00:12] poonen commented on #343
OK, I'll do that.

[2020-05-04 00:12] AndrewVSutherland commented on #356
This institution had not yet been associated to any series so I went ahead and just changed the identifier to the obviously intended CollegeBridge.  This shouldn't impact anything.

In general changing the institution id is something we don't really want to allow, but for mistakes caught early it's easy enough to fix manually.

[2020-05-04 00:13] AndrewVSutherland commented on #343
@poonen already done, see #362.

[2020-05-04 00:19] poonen opened #363 "Make our site accessible"
We should try to make our site accessible to those with disabilities, to the extent possible.  I'm not sure what particular changes are needed to make this happen.

(Note: Whereas #343 is about adding info about external accessibility to the talks and series on our site, the present issue is about making <i>our site</i> accessible.)

[2020-05-04 00:20] #363 closed

[2020-05-04 00:21] poonen commented on #363
Duplicate of #362

[2020-05-04 00:26] poonen commented on #356
There's now a new typo in the ID: ColledgeBridge.

[2020-05-04 00:27] poonen commented on #356
Once this is fixed, let me know, and I can notify the maintainer, since I know him.

[2020-05-04 00:33] AndrewVSutherland commented on #356
Oh dear, sorry about that!  Fixed!

[2020-05-04 00:34] AndrewVSutherland commented on #357
OK, I'll make this change and push it to master so you can give feedback.

[2020-05-04 00:50] poonen commented on #356
I wrote to the maintainer (Edray Goins).

[2020-05-04 00:50] #356 closed

[2020-05-04 01:15] AndrewVSutherland commented on #357
@poonen These changes should be on master in < 60 seconds.  Let me know what you think, and also whether we want to keep Abstract on the view talk page but remove it from the talk knowl.

[2020-05-04 01:20] edgarcosta commented on #346
I will try to do what I suggested.

[2020-05-04 01:50] poonen commented on #357
I would definitely remove "Abstract" from the talk knowl.  But maybe we can keep it on the view talk page.

On the view talk page, there needs to be more space between the time and the "Lecture held in".  Or else maybe end the time with a boldface period.

Maybe try centering the
   (paper | slides | video )
instead of putting it on the left, on both the knowl and the view talk?

[2020-05-04 02:02] tornaria commented on #104
This is looking great!

Note: the css overrides the style for my webpage. It would be nice if it only applied to the schedules. Can you please use a separate style for embedded schedules that prepends every entry with `div.embedded_schedule` so everything applies just to the schedule?

As a quick hack I got a (possibly buggy) css with this awk:
[code]

[2020-05-04 02:38] edgarcosta commented on #104
We need to write a minimal css file for this.

On Sun, May 3, 2020 at 10:03 PM Gonzalo Tornaría <notifications@github.com>
wrote:

[2020-05-04 02:48] duetosymmetry commented on #104
I think this is possible if we use a jinja template to generate the CSS. CSS doesn't support nesting (it's in draft AFAIK) but SASS does, so we could process the jinja template to produce SASS, then hand it to libsass-python. Does this sound like overkill?

[2020-05-04 03:47] edgarcosta commented on #104
I think that is overkill, but perhaps useful for a first approach.
Our stylesheet at the moment is also overkill, as only use a very small
amount of it.
However, for embeddable schedules, we should really aim to provide a
minimal stylesheet, with the blue shading replaced by something more
neutral, that allows users to copy and modify.
Our stylesheets are templates, so there will be some repetitio

[2020-05-04 03:49] roed314 commented on #354
This is the intended behavior.  Organizers will be able to see the series on their Manage homepage.

[2020-05-04 03:49] #354 closed

[2020-05-04 03:54] duetosymmetry commented on #104
Ok, I agree it will end up being simpler to strip down the style sheet to only the parts that are used for the embedding of the table.

[2020-05-04 04:34] poonen opened #370 "Display usage statistics"
Can we display usage statistics automatically?  E.g.,
    So far, ### distinct users have visited the site, and ...
where ### is determined on the fly by the system so that we do not have to manually update it?

I was thinking that a good place for those might be at the bottom of the Features page,
or at the top of the FAQ as the answer to a question in its own section "Usage statistics".
Maybe I

[2020-05-04 05:11] poonen opened #371 "Logos on acknowledgments page"
It would be nice to add some logos to the acknowledgments page (e.g., the Simons Foundation logo).

[2020-05-04 05:17] poonen opened #372 "Math --> Mathematics"
Change Math to Mathematics in the subject menu.

[2020-05-04 12:10] edgarcosta commented on #370
I think we can use google analytics API to do that, but the number of users
since the beginning might be a bit boring in one month or so.

On Mon, May 4, 2020 at 12:34 AM Bjorn Poonen <notifications@github.com>
wrote:

[2020-05-04 12:47] AndrewVSutherland commented on #370
Wikipedia counts views in the past 60 days.

The hourly visitor plot over the past two weeks might be fun to look at (but maybe too much)

[2020-05-04 12:48] AndrewVSutherland commented on #357
I changed the "Abstract" line to just a bold "Abstract:" preceding the abstract on both the talk knowl and talk pages, which takes up no more space but I think looks a bit better than omitting it entirely.

On the view talk page, when there is a room specified the room and livestream link now appear below the time, rather than immediately to the right, which is also how they appear in the talk kno

[2020-05-04 12:49] AndrewVSutherland commented on #355
I believe all but 4 have now been addressed on master.

[2020-05-04 16:06] poonen commented on #357
Maybe try doing the same with
"Comments: ..."
and
"Series comments: ..."
I think this would tie these headers more closely with the comments they contain, and save a little vertical space.

[2020-05-04 20:06] AndrewVSutherland commented on #357
@poonen This has been done and is now on master.

[2020-05-04 20:14] #357 closed

[2020-05-04 20:22] poonen opened #387 "Width of code block in "Embed this schedule" knowl"
On a view series page, in the "Embed this schedule" knowl, the code block should occupy essentially the full width of the knowl.

[2020-05-04 23:20] jamiesully opened #392 "Make filtering on subject/topic pages more transparent"
A user who arrives on a page like http://researchseminars.org/physics/hep-th might not realize that they aren't seeing all talks unless they look at the address bar.

We could simply add something into browse.html like

[code]
with a result like:

![image](https://user-images.githubusercontent.com/25758486/81022625-ef1e6400-8e22-11ea-8194-98eec4bd4264.png)

[2020-05-04 23:31] jamiesully commented on #256
I'm interested in getting started on this enhancement (unless others would rather I didn't).

One immediate question: Should 'Recent Past' talks be done as a tab on the browse page or as a new top level page?

(Or any other strong feelings about how to do this?)

[2020-05-04 23:55] edgarcosta commented on #256
David was just working on having a tab for conferences in the browse page.
I assume that next to it we want to show past talks.

On Mon, May 4, 2020, 19:32 jamiesully <notifications@github.com> wrote:

[2020-05-04 23:56] edgarcosta commented on #392
Looks good to me.

On Mon, May 4, 2020, 19:20 jamiesully <notifications@github.com> wrote:

[2020-05-05 01:00] #387 closed

[2020-05-05 02:53] poonen commented on #370
OK, well if one of you wants to provide me with HTML code for producing one of more of these numbers, then let me know and I can add it somewhere.

[2020-05-05 03:37] poonen opened #398 "Export knowl in talk knowl does not open"
On researchseminars.org, inside a talk knowl, the "Export" knowl does not open.  (On master, it does seem to open properly.)

[2020-05-05 03:42] poonen opened #399 "Search toggle"
When the right side of the big toggle on the Search page on master is selected, both sides of the toggle say Series, and only series are displayed.

[2020-05-05 03:58] poonen commented on #392
I agree that there should be some indication given.

Another way to do it might be to have a colored box (like those used when associating a topic to a series or talk) saying "x  Only algebraic geometry", where clicking the x inside the box makes this restrictor go away (i.e., returns you to the main page).  One advantage of this is that this would show <i>what</i> restriction is being imposed, th

[2020-05-05 05:43] #346 closed

[2020-05-05 08:32] roed314 commented on #399
Will be resolved by #400, which removes the search toggle.

[2020-05-05 08:33] roed314 commented on #398
I think this will be fixed when we push master to live, but we should double check.

[2020-05-05 08:35] roed314 commented on #392
Another issue with the navigation to/from these pages: once you leave them there are no links back from the rest of the site.  In particular, if you click search then browse again, you'll be back to the browse page.

I don't have a good idea for how to fix this.

[2020-05-05 08:36] roed314 commented on #75
Will be resolved by #400

[2020-05-05 08:40] #240 closed

[2020-05-05 11:29] AndrewVSutherland commented on #355
It looks like 4 is a function of the context and the width of the table, which we probably don't want to change, so I'm going to close this now.

[2020-05-05 11:29] #355 closed

[2020-05-05 12:28] AndrewVSutherland opened #401 "latex no longer rendering in talk knowls"
It appears that latex in talk abstracts is no longer being rendered in talk knowls (presumably this is a result of some of the recent changes we made to speed up the browse page).

[2020-05-05 12:31] AndrewVSutherland commented on #401
For an example, click on the title of the first talk on:

https://researchseminars.org/seminar/VSAMRT

[2020-05-05 13:31] edgarcosta commented on #401
I pushed the fix to live

[2020-05-05 13:31] #401 closed

[2020-05-05 16:36] jamiesully commented on #256
@roed314 (When you have time), it would be great to coordinate to see what is the best way to go about this without getting in the way re building the conferences tab.

[2020-05-05 16:39] roed314 commented on #256
We're all going to a seminar at 1 our time, but maybe Zoom afterward?  See my PR for the current status.

[2020-05-05 19:24] roed314 opened #406 "Prompt for adding slide and video links"
When an organizer returns to their manage page, we should prompt them to add slide and video links for recently past talks.

[2020-05-05 19:29] roed314 opened #407 "Add a survey tab for endorsed users"
When we have questions about UI, we might add survey questions that get info back from users.

[2020-05-05 19:36] AndrewVSutherland commented on #407
To make this as unobtrusive as possible, I might suggest having a survey tab that shows up for registered users where they can see any open surveys and complete them if they wish and view results of earlier surveys whose response windows have closed.  When a new survey is posted, users would see a one-time alert telling them a survey is available.

One candidate survey question would be "What do y

[2020-05-05 19:40] edgarcosta commented on #398
Fixed

[2020-05-05 19:40] #398 closed

[2020-05-05 19:41] roed314 opened #408 "Move cookies server-side"
Instead of using cookies to track peoples filters, we should store the browse and search information in the database.  This lets us be persistent across devices.

[2020-05-05 20:36] AndrewVSutherland commented on #372
Resolved by #409 (now up on master).

[2020-05-05 20:36] #372 closed

[2020-05-05 22:01] poonen opened #410 "Search page submenu underlines wrong option"
On the Search page on master, if I click on Conferences, the submenu underlines Seminar series.

[2020-05-05 22:19] AndrewVSutherland opened #411 "View series page for conferences not in progress should show all talks (no future/past tabs)"
For conferences that have already taken place the View series page lists no talks, since the default is to show only future talks (you have to click on the Past talks submenu to see them).  This is especially confusing if you are browsing past conferences (clicking on a conference takes you to a page with no talks listed).

Except for conferences that are in progress, there is no reason to have a

[2020-05-06 00:49] #411 closed

[2020-05-06 01:06] #410 closed

[2020-05-06 01:07] AndrewVSutherland commented on #399
Resolved by #400

[2020-05-06 01:07] #399 closed

[2020-05-06 01:15] AndrewVSutherland commented on #317
Also, if you favorite a talk, show only favorites, and then unfavorite the talk, the talk is still shown (but you cannot open the knowl).

[2020-05-06 01:55] poonen opened #414 "Edit seminar schedule"
Right now there are headers
"Edit conference schedule"
and
"Edit seminar schedule".

The latter should be changed to "Edit series schedule".
(We don't call a _seminar series_ a seminar anymore.)

[2020-05-06 01:57] poonen opened #415 "Cancel changes on "Edit series" page should not redirect you"
Clicking "Cancel changes" on the "Edit series" page should leave you on the same page (but with changes cancelled, and with a message telling you that this has happened).

[2020-05-06 02:14] poonen opened #416 "Time slots knowl shifts stuff to its right"
On the Edit series page, opening the "Time slots" knowl shifts the + and other things to its right, which seems a little strange.

[2020-05-06 02:22] AndrewVSutherland commented on #414
I think it would make more sense to just say "Edit schedule" (or "Edit series schedule") in both cases.

We currently say "Edit series" in both cases when "Edit properties" is chosen.  I would argue for changing "Edit properties" to "Edit series" and having the header in the banner match the submenu header in every case.

[2020-05-06 02:35] poonen commented on #414
@AndrewVSutherland: That sounds good to me.

[2020-05-06 02:47] poonen opened #417 "Instructions when "Livestream link" varies from talk to talk"
On the "Edit series" page, the instructions to the right of "Livestream link" currently say

Shouldn't we instead instruct organizers to enter the livestream link on each "Edit talk" page?

[2020-05-06 03:00] poonen opened #418 "Hide deleted items"
On the "Manage" page, there is a "Show deleted items" button.
After it is clicked, it should change to a "Hide deleted items" button (with the obvious action being taken).

[2020-05-06 03:11] poonen opened #419 "On Search page, remember criteria when switching tabs"
On the Search page, it would be nice if the Subject, Topic, Institution, Language, and Access criteria were remembered when I switch from one tab to the next.

[2020-05-06 03:14] poonen opened #420 "Search page header"
"Search seminars" should say "Search series"
(possibly changing to "Search conferences" when on the Conference tab).

Also, the blue button on the Conference tab should say "Search for conferences".

[2020-05-06 03:18] poonen opened #421 "Search page: layout of criteria"
All the tabs on the Search page have Subject, Topic, Institution, Language, and Access.
It may be nice to put these in the same place on each tab, say always on the left side as they currently are on the Talks tab, even if this means that the other tabs will be lopsided.

[2020-05-06 04:01] poonen commented on #421
This is related to #419.

[2020-05-06 04:12] poonen opened #422 "Update the feedback form"
The Google Form still says mathseminars.org

[2020-05-06 09:52] AndrewVSutherland commented on #417
There are several reasons the link might vary, only some of which involve adding the link to each talk page (e.g. the link might be emailed to registered users the day before, in which case there is nothing to update on the talk pages).

The issue #327 has already been created to address this issue.  I'll add a comment there saying what I think should happen in the situation where there is a varyi

[2020-05-06 09:52] #417 closed

[2020-05-06 10:00] AndrewVSutherland commented on #422
I changed the form heading to "Feedback" and mention both mathseminars.org and researchseminars.org.  Once the sites are merged (i.e. mathseminars.org starts redirecting to researchseminars.org).  We may want to eventually remove the reference to mathseminars.org, but probably not for a while (even after we start redirecting, many users may still think of the site as "mathseminars.org" especially

[2020-05-06 10:00] #422 closed

[2020-05-06 10:58] AndrewVSutherland commented on #327
We need to address this soon.  I am getting a lot of emails from users who are confused because the comments don't make it clear what they are supposed to do (even in cases where the link is posted and no password or registration is required).

Just to refine the options proposed by @roed314 a bit, I would suggest the following properties would be associated to each series (most of them would not

[2020-05-06 11:59] tornaria commented on #104
For the record, our seminar page at http://www.cmat.edu.uy/~tornaria/LATeN/ uses embeded schedules with two hacks:
a. modify the mathseminars css so it only applies to the schedules
b. some javascript that changes the table headings
In the end, I think it will be much more flexible for me to use #11, but the json now is missing paper/video/slides link.

But really for a first version this embedded

[2020-05-06 12:06] tornaria commented on #11
I think those three are all I would be missing in switching from embedded schedules (as in #104) to creating my own schedule using json data.

Maybe two more:
- the link to the actual talk in mathseminars.org
- the link to the ics for the talk

[2020-05-06 13:33] #414 closed

[2020-05-06 13:54] #420 closed

[2020-05-06 13:57] AndrewVSutherland commented on #421
I like this suggestion, especially since I can imagine adding some of the talk search options (e.g. speaker, institution, and especially date range) to the other search pages.

[2020-05-06 21:46] #416 closed

[2020-05-07 03:11] edgarcosta opened #432 "seminar per day is being set to None"
traceback:
[code]

[2020-05-07 03:13] edgarcosta opened #433 "Series type"
When looking at a series, we don't give any indication if it is a conference or a seminar series.

[2020-05-07 03:26] edgarcosta commented on #11
While we don't have a full API, we now return:
[code]

[2020-05-07 03:31] edgarcosta commented on #104
You make very good points.
I will try to fix the last issues tomorrow.

[2020-05-07 05:59] kedlaya commented on #11
Thanks. I'm now using 'paper_link' and 'slides_link' to create links on my page, and also 'comments' to determine whether or not to list a pre-talk.

[2020-05-07 07:57] roed314 commented on #432
Resolved; fix pushed to live.

[2020-05-07 07:57] #432 closed

[2020-05-08 18:31] poonen opened #437 "Talk comments on view talk page"
On a view talk page, it is essential that the talk comments be preceded by
**Comments:**
in order to distinguish them from the abstract.

[2020-05-08 18:37] AndrewVSutherland commented on #437
@poonen, that should already be the case, where are you not seeing **Comments:** before the comments?

[2020-05-08 18:39] AndrewVSutherland commented on #433
@edgarcosta Are you satisfied that #435 addresses is this or do you think more should be done?

Seminar series now have a line that says "Serminar times:" while conferences have a line that says "Conference dates:"

[2020-05-08 18:45] poonen commented on #437
Never mind, some organizer just typed in the talk comments at the bottom of the abstract field.  I'm closing this.

[2020-05-08 18:45] #437 closed

[2020-05-08 19:31] edgarcosta commented on #433
It looks better, at least now I know what to look for.

[2020-05-08 19:31] #433 closed

[2020-05-09 02:46] poonen opened #441 "Ignore hidden talks when determining "Next talk""
When series are listed in order of "Next talk" on the Browse and Search pages, hidden talks should not be considered to be a talk.

[2020-05-09 12:27] proxiex opened #442 "ModuleNotFoundError: No module named 'sage.all'"
I can't' seem to get the project running on my local machine. I keep getting the error
` from sage.all import Integer, RealNumber ModuleNotFoundError: No module named 'sage.all'`
I am not sure why. I have tried installing sagemath module but I still get the same error.

[2020-05-09 19:18] roed314 opened #446 "Anywhere search"
We should use Postgres' capabilities: https://www.postgresql.org/docs/10/datatype-textsearch.html
This will allow us to create indexes for searching.

[2020-05-09 19:27] roed314 commented on #442
Hi @proxiex,
How did you try installing sagemath?  And have you tried using @jamiesully's fork of the LMFDB, which should obviate the need to use sagemath?

Really, the answer is that we need to reduce our dependencies (see #116), but that's not a solution for you at the moment.  Also, if you'd like to help develop the project you'll need access to the development database.  Send us an email at ma

[2020-05-10 00:33] poonen commented on #322
I fixed the spacing, I think.

[2020-05-10 00:33] #322 closed

[2020-05-10 00:37] poonen opened #449 "Math --> Mathematics"
The top-level subject name should be Mathematics, not Math.  It's more professional that way.  Also, in many countries, "Math" is not even the right way to abbreviate the word.

[2020-05-10 00:43] poonen opened #450 "Vertical alignment of forminfo"
Is there a global setting somewhere that is applying
   vertical-align: top;
to every forminfo?  It would be better to make it vertically centered, at least when the forminfo is appearing to the right of an input box, so that it is clearer which box the text is referring to.

[2020-05-10 01:10] AndrewVSutherland commented on #450
I'll see if I can tweak style.css to fix this.

[2020-05-10 01:15] AndrewVSutherland commented on #450
Done, should be visible on master in < 60 seconds.

[2020-05-10 01:15] #450 closed

[2020-05-10 01:17] AndrewVSutherland commented on #449
@poonen I changed it on the subject menu a while ago (see #372), where are you still seeing "Math"?

[2020-05-10 01:22] poonen commented on #449
@AndrewVSutherland: Sorry, I can't find it anymore.  Maybe I was looking at an old page that wasn't reloaded recently.
I'll close this and mark as duplicate.

[2020-05-10 01:22] #449 closed

[2020-05-10 01:24] AndrewVSutherland commented on #415
@poonen, I made this change on the Edit institution page (I was making other changes to it anyway) and was planning to do the same on the Edit series and Edit talk pages.  But before I do, can you look at the Edit institution page on master and let me know if it does what you want?  Try

    https://master.mathseminars.org/edit/institution/?shortname=MIT

I made "Cancel" into a button rather than

[2020-05-10 01:34] poonen commented on #415
@AndrewVSutherland: Yes, that fixes what I was writing about, but

1) I do think it is better to have "Cancel" look like a link instead of a button, or somehow otherwise to make it less prominent than the button, since it is the button that one is usually looking for.

2) I think that when the institution is being created for the first time, the "Cancel" should say "Cancel creation".  If editing,

[2020-05-10 02:16] AndrewVSutherland commented on #415
OK, I can make these changes to the Edit institution page, Edit series, Edit schedule, and Edit talk pages tomorrow.  I'll create a css class for the cancel button styled to look like a link (we can then  tweak it's appearance without having to choose between a button or a link, for the functionality you want, a button makes more sense, independent of what it looks like).

[2020-05-10 02:33] poonen commented on #415
Maybe a button that had no solid color inside, but just a boundary, would be good for "Cancel creation" or "Cancel changes".

[2020-05-10 05:09] poonen commented on #317
I think somebody fixed this but forgot to close the issue, so I'm closing it now.

[2020-05-10 05:09] #317 closed

[2020-05-10 18:20] proxiex commented on #442
Hi @roed314,

Thank you so much, using @jamiesully version of LMFDB helped, though now I am getting a users_counts error
`psycopg2.errors.UndefinedTable: relation "users_counts" does not exist`
`LINE 1: SELECT count FROM "users_counts" WHERE cols = '[]' AND value...` I believe the `users_counts` table is missing from the `devmirror.lmfdb.xyz` database.

[2020-05-10 19:41] roed314 commented on #442
Thanks.  We need to fix the development database and figure out how to keep it's schema up to date (some of us are developing using the live database).  We'll try to get this straightened out in the next few days.

[2020-05-10 23:51] AndrewVSutherland commented on #415
This has been done. we can restyle these further if need be, but the issue raised here has been addressed.

[2020-05-10 23:51] #415 closed

[2020-05-11 00:49] #418 closed

[2020-05-11 00:54] AndrewVSutherland commented on #324
On further reflection I'm going to close this -- doing this properly would be a lot of work (we need to be able to update the knowl and preview it) with not a lot of payoff.

[2020-05-11 00:54] #324 closed

[2020-05-11 13:47] poonen opened #460 "Unfavoriting talks within favorited series"
It would be nice if there were some way to unfavorite talks within favorited series, since I may want to continue to receive new talks in those series while removing from my calendar those talks in the series that I know I will not be attending.  It may require a discussion to figure out what the user interface for this could be.

[2020-05-11 14:41] #358 closed

[2020-05-11 14:57] #313 closed

[2020-05-11 14:58] AndrewVSutherland commented on #256
This has been done.

[2020-05-11 14:58] #256 closed

[2020-05-11 15:26] #441 closed

[2020-05-11 15:29] AndrewVSutherland commented on #40
This has been addressed.  It could possibly be improved with a better keyword search once #446 is addressed, but I think we can close this.

[2020-05-11 15:29] #40 closed

[2020-05-11 15:33] AndrewVSutherland opened #464 "Check for similar institutions when adding an institution"
We should check for similar institution names when a user tries to create a new institution, as we now do with seminars.  Even though the list of existing institutions is on the page where you add institutions, the list is long and you can easily add the same institution without realizing it if you happen to pick a different identifier.

Tagging this as high priority because if someone makes a mis

[2020-05-11 15:53] #46 closed

[2020-05-11 15:57] #75 closed

[2020-05-11 16:01] poonen opened #465 "Search for conferences - ordering of past conferences"
On master (but not on researchseminars.org), on the Search page, searching for conferences currently seems to produce one long list that starts with the future conferences in order of start date, followed by past conferences ordered by name.

If both future and past conferences are going to be displayed here, it would make sense to separate them into two tables, and to order past conferences by da

[2020-05-11 16:39] poonen commented on #257
#335 contains a suggestion related to this.

[2020-05-11 19:34] poonen opened #467 ""Delete series" page layout"
The name of the series being deleted should be displayed more prominently,
to help prevent user errors.  I'd suggest using the large header font used
on the Edit schedule page, and putting the series name
just above the table of talks, under the three buttons.

If this is done, I think that the
    Next talk   Name    Institutions    Description
table above the buttons is not needed.

[2020-05-11 22:22] #467 closed

[2020-05-11 22:28] poonen opened #471 "View series page has line for seminar time even when periodicity is "no fixed schedule""
See
https://master.mathseminars.org/seminar/MITMLK
for example.

I think in such instances, the line for seminar time should be removed entirely.

Also, shouldn't "Seminar time" say "Series time"?

[2020-05-11 22:35] AndrewVSutherland commented on #471
Agreed, this is a bug.  I'll fix it shortly.

[2020-05-12 00:22] #464 closed

[2020-05-12 00:48] #471 closed

[2020-05-12 01:10] AndrewVSutherland commented on #465
It looks like they currently are not sorted (i.e. they are displayed in what ever order they happen to come out of the database, which probably depends on when they were last updated).

I think it would make sense to have separate tabs for future and past conferences, labelled "Conferences" and "Past conferences", just as we do on the browse menu, and order them by start date (forward order for Co

[2020-05-12 01:17] AndrewVSutherland commented on #465
Similarly, I think we should add a "Past talks" tab.  Currently there is no way to search for talks in the past!  This actually seems like the thing one might want to search for most often.

[2020-05-12 01:21] AndrewVSutherland commented on #465
Nevermind, you can search for talks in the past, you just have to change the date range.  But they are always sorted in forward order.

As an alternative to adding a Past conferences tab, we could add a date range that defaults to a start date of today and no end date (and always order by start date).

In either case, I think it would be good to have the searches on talks and conferences work cons

[2020-05-12 01:25] poonen commented on #465
I think that your date range solution is better than adding more tabs.  It would be nice to address #419 and #421 at the same time.

[2020-05-12 01:33] AndrewVSutherland commented on #465
Great, let's go with date range then.  I can easily address #419 at the same time.  #421 will require a bit more thought, but I'll give it a shot.  I'll do this tomorrow morning.

[2020-05-12 12:13] AndrewVSutherland opened #474 "Date range search on talks not working"
The only date range search that seems to work at the moment are intervals with no end date,  Searching "Past" or "Next 7 days" or "Next 30 days" or typing in a date range with start and end dates all give a parsing error on the end date:

Error: Could not parse date: '2020-05-18 00:00:00-04:00'

I'm not convinced that using a date range widget is even the right thing here, having separate start an

[2020-05-12 15:25] edgarcosta commented on #474
fixed on live

[2020-05-12 15:25] #474 closed

[2020-05-12 15:31] edgarcosta opened #475 "Biology topics"
Our current Biology DAG looks quite weird

<img width="320" alt="Screen Shot 2020-05-12 at 11 30 12" src="https://user-images.githubusercontent.com/322822/81713505-f4436a80-9443-11ea-8bf1-36603728e7e5.png">

We have `Cancer genetics` showing up at different levels.

[2020-05-12 15:44] AndrewVSutherland commented on #474
Also fixed in the PR I will be submitting shortly.

[2020-05-12 19:22] #465 closed

[2020-05-12 19:29] #421 closed

[2020-05-12 19:31] poonen commented on #419
As of now, these are remembered only after clicking "Search...".  It would be nice if they were saved from the moment they are entered.

[2020-05-12 19:33] poonen opened #479 "Ordering Search results"
Make the headers in the results table on the Search page link clickable with toggled up/down triangles, so that, for instance, one can sort the results in reverse chronological order, or alphabetically by institution, etc.

[2020-05-12 19:46] AndrewVSutherland commented on #218
Actually I think we should keep `speakers` et al.

[2020-05-12 20:51] poonen opened #486 "Make the "transpose organizers" arrows on "Edit series" page present even before saving"
Currently, the two-headed arrows for performing transpositions in the organizer list on the "Edit series" page are present only after the the names have been saved.  It would be nicer if they were present (and operational) as soon as the user begins typing in the boxes.

[2020-05-12 22:46] roed314 opened #494 "Check for updates of external seminars"
It would be useful to have the ability to check whether the external homepage of any seminar that you're curating has changed.  Maybe a button (shown only to subject admins on their manage homepage) that fetches all the homepages and hashes them, comparing to a saved hash.

[2020-05-13 03:27] #267 closed

[2020-05-13 03:29] #299 closed

[2020-05-13 03:36] poonen commented on #208
I can't think of a problem that is caused by one person creating accounts with different email addresses.

But it would probably be more convenient for that person if we introduced a feature allowing a user to add more than one email address to a single account, with one of the email addresses being primary.  Endorsing that user would endorse all the associated (verified) email addresses.

[2020-05-13 03:47] poonen commented on #169
Maybe one could add a "saved-favorites" filter to the Search page, though I don't see myself using it, so I would vote no unless someone asks for it.

As for having the other filters on the Search page, this seems unnecessary given that one can already limit the subject/topic and language.

I vote to close this issue now.

[2020-05-13 03:49] roed314 commented on #169
Well, it's currently only possible to search for one topic at a time.  But I think I agree with closing this issue now; we can reopen later if desired.

[2020-05-13 03:49] #169 closed

[2020-05-13 03:51] poonen commented on #105
There is enough on the site that is self-explanatory, or explained by knowls, that I think most users would not bother to look at such a document.  My feeling is that it is better just to improve the explanations in the knowls and on the FAQ, if there are things that are confusing.

[2020-05-13 03:55] edgarcosta commented on #105
agree

On Tue, May 12, 2020 at 11:52 PM Bjorn Poonen <notifications@github.com>
wrote:

[2020-05-13 09:25] AndrewVSutherland commented on #105
I agree that we should never need to depend on the existence of such a guide to clear up confusion.
But there is always going to be a category of user who is nervous about clicking around and wants to understand everything in detail before they start, and there are also places where we can provide guidance and encourage behavior (e.g. suggesting that organizers embed our schedule in their site so

[2020-05-13 09:50] AndrewVSutherland commented on #475
I have a separate concern about using the Nature list of biology topics, or any list of topics of similar size.  Once we do this it will be hard to undo, and I don't think it is worth slowing down the entire site (and especially our front page) in order to provide this level of granularity.  I don't think we should use the AMS MSC codes as our topic trip for math for the same reason.   I think usi

[2020-05-13 13:22] edgarcosta commented on #475
Here is another shorter list: https://en.wikipedia.org/wiki/Biology#Branches_and_career_options

Also agree, that the new infrastructure is a bit too heavy:
- 604k https://researchseminars.org/
- 2.8mb https://test.researchseminars.org/

[2020-05-13 13:50] AndrewVSutherland commented on #475
Wikipedia is not a good source (it can be edited by anyone and researchers are not the target audience).  The cited references might be useful, but I'd be more inclined to go with something researchers are already using (e.g. bio-arXiv).  But we should really get some biologists to tell us what to do, subject to the constraint that the list of topics should ideally be less than 100.

It might be u

[2020-05-13 15:22] edgarcosta commented on #475
I agree that Wikipedia is not curated, but might be a good start as it is
subdivided as a tree.

Bioxriv is also a good starting point, however, I do not think that it is
widely used by the community, so there might be bias there.

Overall we really need to get some input from various biologists on where
to look.

On Wed, May 13, 2020, 09:50 Andrew Sutherland <notifications@github.com>
wrote:

[2020-05-14 02:44] poonen opened #501 "Option on "Edit series" page to overwrite attributes of future talks"
As it stands, changes made to a series' attributes do not affect previously created talks in the series.  Should we have an option where such changes would overwrite the attributes of previously created upcoming talks?  (We discussed this a while ago, but I'm not sure that we came to a conclusion on whether we want this or not, so I'm just recording the idea here.)

[2020-05-14 04:18] roed314 opened #502 "Reduce frequency of backups"
We're currently backing up every 5 minutes.  We should reduce this at some point.

[2020-05-14 04:20] roed314 commented on #502
Or at least start deleting old backups.

[2020-05-14 10:20] AndrewVSutherland commented on #501
Just to clarify, this is only relevant for properties talks inherit from their series.  For the new schema these are

- `access_control`, `access_time`, `access_hint`, `access_registration` (access)
- `online`, `room`, `live_link`, `stream_link` (venue)
- `topics`
- `languages`

I think we should provide an option to apply series changes to future talks that exist (certainly for access and venue p

[2020-05-14 11:41] AndrewVSutherland opened #503 "TBA management"
A number of organizers have started filling out their schedules with TBA speakers.  I think it would be useful to have an option to filter out talks where the speaker is TBA on the main browse page (and possibly also where the title is TBA).  I think we should also automatically convert "tba" to "TBA" for consistency.

For talk titles, blank and TBA are equivalent everywhere except on the schedule

[2020-05-14 19:05] #486 closed

[2020-05-14 20:14] roed314 commented on #503
I will add a TBA filter in the More section.

[2020-05-15 03:48] poonen opened #507 "Make "logout" more prominent"
It is a little bit hard to find the logout on the site.

Maybe we could make it a button, and move it to the upper right of the Account page so that it is by itself instead of attached to other text in the middle of the page, and capitalize the first letter?
(I can see why it was put where it is, since it is an operation related to the user name, but for me the need to make it easier to find is mo

[2020-05-15 03:49] poonen commented on #460
I'm making this High Priority just because it is the feature I personally want most at the moment.

[2020-05-16 02:18] #371 closed

[2020-05-16 02:20] poonen commented on #370
For now, I just put the data from the first 28 days near the end of the FAQ.

[2020-05-16 02:22] poonen commented on #336
This issue is rendered moot by what is on the test branch.

[2020-05-16 02:22] #336 closed

[2020-05-16 02:22] poonen commented on #335
This issue is rendered moot by what is on the test branch.

[2020-05-16 02:22] #335 closed

[2020-05-16 02:23] #334 closed

[2020-05-16 02:24] #274 closed

[2020-05-16 02:25] poonen commented on #257
This issue is rendered moot by what is on the test branch.

[2020-05-16 02:25] #257 closed

[2020-05-16 02:26] poonen commented on #272
This issue is solved by what is on the test branch.

[2020-05-16 02:26] #272 closed

[2020-05-16 02:27] poonen commented on #115
This is solved by what is on the test branch.

[2020-05-16 02:27] #115 closed

[2020-05-16 12:33] AndrewVSutherland commented on #178
OK, I think issue is now addressed on master.  I did not implement exactly what you suggested, instead all informational/warning/error messages associated with endorsing users are now displayed at the top of the screen using the same shaded message box format that is used everywhere else on the site.  I think this is more consistent, and more visible to the user.

In the case where there is a "Sen

[2020-05-16 15:30] #178 closed

[2020-05-16 15:31] poonen commented on #501
See also #310.

[2020-05-16 20:01] poonen commented on #503
I'm not sure that a TBA filter is a good idea.  The filter collection is already quite complicated, and this one seems not so useful.

[2020-05-17 02:36] poonen commented on #406
I would say "invite them" instead of "prompt them".  Probably in most cases the organizer will not have any slide or video links to add.

[2020-05-17 04:28] poonen commented on #502
Maybe for backups that are over a week old, just keep one per day?

[2020-05-17 15:39] poonen commented on #475
I agree that input from biologists is what is needed.  But we should expect the biology subtopics to occupy a large part of the topics graph, since it is a fact that biology is a much larger field than math or physics.

[2020-05-17 22:23] poonen opened #528 ""Clear" button in the "more knowl""
In the more knowl, maybe it would be nice to have
a "Clear" button (blue text on white background)
to the right of the "Apply" button?
Clicking it would clear all the filters inside the more knowl.

[2020-05-17 22:28] poonen opened #529 "Should clicking the word "saved" turn on the saved filter?"
For logged-in users, should clicking the word "saved" toggle the saved filter on?
That is what I had assumed would happen, based on what topic and language do.
But maybe it shouldn't do that, because then the next question is whether clicking it again would toggle it off, and in that case, is it possible to close the "saved" knowl without turning the filter off?

[2020-05-17 23:36] edgarcosta commented on #104
@tornaria, sorry it took me so long, but I have fixed our code to use a minimal css, that does not affect the rest of the website:
Here is an example,
https://math.mit.edu/~edgarc/ucsd.html
let me know what you think

[2020-05-18 01:23] edgarcosta opened #541 "Save buttons should be styled differently out if nothing has been edited"

[2020-05-18 02:17] edgarcosta opened #548 "How to indicate that a seminar has an online presence?"
We used to list `(online)` on every talk and every series.
The "Livestream" box, shows if a talk hs an online presence.
What should we do to indicate that a series has an online presence?

[2020-05-18 03:08] edgarcosta opened #551 "Advertise to CS community"
and get in touch with https://cstheorytalks.wordpress.com/

[2020-05-18 04:47] poonen opened #552 "Add "saved toggle" to each "view talk" page"
On each "view talk" page, add a "saved" toggle at the upper right (to the right of the title, right justified, with the word "Saved" to its left).

[2020-05-18 05:00] poonen commented on #551
I have now notified all the computer scientists who helped us with the topic list.

[2020-05-18 05:06] poonen commented on #548
Perhaps append " (online)" to the end of the Description?  For example,

   Description:  Research seminar in number theory (online)

Of course it might look a little ridiculous if it says

   Description:  Online seminar in number theory (online)

but I can live with that.

[2020-05-18 05:10] tornaria commented on #104
Nice, thanks.

Some comments / suggestions:
1. maybe insert css at beginning of head so it can be overriden by site css, e.g.
[code]

2.  in `*[knowl]:hover`, maybe use `--link-hover-color` instead of `--link-color`, e.g.

[code]
[code]

3. minor adjustements:
[code]
[code]

4. it seems times are shown in UTC (?)

[2020-05-18 05:14] poonen opened #553 "If the "saved" knowl is open and another filter toggle or filter name is clicked, close the "saved" knowl."
Maybe "saved" shouldn't have a knowl at all; it is rather different from the other filter words in terms of what happens when you click it.

[2020-05-18 05:15] poonen commented on #553
See also #529.

[2020-05-18 05:17] roed314 commented on #529
I think we should switch the saved link to be the same kind of formatting as the other filters, rather than a knowl.  This will make it behave the same in terms of toggling, background color, being open....

[2020-05-18 05:19] poonen commented on #541
I remember that this is already implemented in one place on the site, but I can't remember where.

[2020-05-18 05:20] roed314 commented on #548
We have some tentative plans to reduce the use of the description field in favor of a predefined list of levels #298.  @poonen's proposal might be in conflict with that idea.

[2020-05-18 05:21] roed314 commented on #553
Agreed, it shouldn't be a knowl.

[2020-05-18 05:24] poonen opened #554 "Keep the Acknowledgments page up to date"
This is just a reminder to keep the contributor list and other information on the Acknowledgements page up to date.

I suggest not closing this issue.

[2020-05-18 05:28] poonen commented on #548
@roed314: OK.

Come to think of it, _why_ do we need to indicate whether a series has an online presence?  Is it enough to indicate it for each of its talks?

[2020-05-18 05:50] poonen commented on #554
(I'm not saying that anything in particular needs to be done now.)

[2020-05-18 06:56] rbommel opened #555 "Calendar import for talks with multiple speakers"
In my Google calendar, talks with multiple speakers do not look nice. E.g., for the "Panel discussion on hosting virtual events" the title of the panel has become "<a href="https://juliettebruce.github." in my Google calendar.

[2020-05-18 07:38] roed314 commented on #104
For the time zone, I assume we should default to the series' time zone.  Should it be possible to override this, e.g. `<div class="embeddable_schedule" shortname="MITNT" timezone="US/Pacific" daterange="past">`?

[2020-05-18 08:38] AndrewVSutherland commented on #222
From @rbommel #555:

[2020-05-18 08:39] AndrewVSutherland commented on #555
This is a known problem that will be fixed when #222 is addressed (I just bumped this to high priority -- I plan to address it this week).

[2020-05-18 08:39] #555 closed

[2020-05-18 15:00] kedlaya commented on #104
I can see a use case for this: if I am doing a joint seminar with an institution in another time zone, one of them has to be the home time zone, but the other would like to be able to display the schedule in its time zone.

[2020-05-18 15:21] edgarcosta commented on #104
@tornaria Thank you
I will get on this shortly

[2020-05-18 18:36] poonen opened #571 "Right justify day in the Browse list"
In the talk list on the front page, right justify the day of the week to put it closer to the date.
Right now, for instance, there is way too much space between Fri and May 22.

[2020-05-18 19:23] edgarcosta opened #572 "Delimiter between dates"
Suggested through the feedback form:

[2020-05-18 21:09] poonen commented on #553
@roed314: If you change the behavior of "saved", let me know so that I can update the Filter knowl accordingly.

[2020-05-18 21:58] poonen commented on #312
The knowl "ids" has already been created in knowls.yaml
It is just waiting for someone to implement the functionality.

[2020-05-18 22:00] poonen commented on #312
I'm making this High Priority since the AMS requested this.

[2020-05-18 22:38] #327 closed

[2020-05-18 22:53] tornaria commented on #104
@edgarcosta thanks a lot for all your work!

For me this is good and working, and very useful. I think this ticket is ready to close. If anything is missing is the three minor suggestions in my previous comment (https://github.com/roed314/seminars/issues/104#issuecomment-629949144) of which the more important is the first one (the rest can be overriden by css).

---

Just one final comment, in cas

[2020-05-19 04:18] poonen opened #578 "Export knowls"
I wrote three different versions of the "Export" knowl, labelled export_series, export_talk, and export_favorites in knowls.yaml.  How this knowl is used seems to be controlled by macros.html, which I dare not edit, so I'd like help to make sure that the correct version of this knowl is used on the various pages:

export_series on View series

export_talk on talk knowl, View talk

export_favorites

[2020-05-19 04:48] poonen opened #579 "Help for first-time visitors to researchseminars.org"
People (at least one) are getting confused by the topic menu, which I think is to be expected.  It is not at all obvious that to select all Mathematics talks one needs to click the Mathematics toggle _twice_, for instance.  I tried to make the instructions more explicit in the "Filter" knowl, but people might not read it initially as they should.

Can we perhaps, for users arriving at researchsemi

[2020-05-19 12:18] wenh06 commented on #256
I think the past talks in one's favorite talks might could also be listed in a separate tab or page, just like in the homepage (browse page).

[2020-05-19 13:53] AndrewVSutherland opened #580 "Add routes that support submenu navigation"
It would be useful to be able to send someone a link that shows, for example, all the past talks in your series, but there is currently no way to do this.

[2020-05-19 13:56] AndrewVSutherland opened #581 "Option to filter past talks for those that have slides"
Currently the more filter for past talks has a toggle that lets you filter for those that have video.  I think we should add another toggle for those that have slides.  I realize we do not want to make the more filter overly complicated, but this is a very common use case (possibly more common than searching for videos) and there is currently no way to do this (typing "slides" into the anywhere se

[2020-05-19 17:12] wenh06 opened #582 "Additional tags for talks on the Browse page"
Could you please add additional tags for talks on the Browse page indicating additional requirements for attending the talks, like registering or sending email to organizers to be added to a mail list?

Usually I save the talks by just seeing the speakers' names and titles of the talks. When a talk is about to start, sometimes one just needs to pass a simple exercise to get the password, or even h

[2020-05-19 17:45] jamiesully opened #583 "Collapse conferences in Browse talks"
Larger conferences can overwhelm the listings of talks on the browse page.

One option would be to list the conference as an all day event for each day it occurs, with an expandable listing of talks happening that day.

This would make it much easier for users not interested in a particular conference to browse the remaining talks.